// form {
//     // height: 100%;
//     margin: 0px;
//     padding: 0px;
//     .datos {
//         // height: 95%;
//         .fotoProducto {
//             height: 47%;
//             display: flex;
//             justify-content: center;
//             align-content: center;
//             align-items: center;
//             img {
//                 height: 250px;
//                 width: 100%;
//                 margin: 5px;
//                 object-fit: contain;
//                 object-position: center center;
//             }
//         }
//         .badge {
//             text-align: right;
//             margin-left: 5%;
//             margin-right: 5%;
//             margin-bottom: 2%;
//             ion-badge {
//                 // color: black;
//                 // background-color: white;
//                 border-radius: 10px;
//                 letter-spacing: 2px;
//                 margin: 3px;
//             }
//         }
//         .datosProducto {
//             height: 50%;
//             background-color: white;
//             padding: 5%;
//             box-shadow: 2px -2px 2px 2px var(--ion-color-light);
//             // border-top: solid 2px var(--ion-color-light);
//             ion-item {
//                 ion-label {
//                     font-family: Nunito;
//                 }
//             }
//             .cantidad {
//                 color: gray;
//                 margin-left: 5%;
//                 margin-right: 5%;
//             }
//             .nombre {
//                 font-size: 2vw;
//                 font-weight: bold;
//             }
//             .marca {
//                 //font-size: 1vw;
//                 font-weight: bold;
//             }
//             .precio {
//                 color: var(--ion-color-primary);
//                 font-weight: bold;
//                 span {
//                     font-size: 18px;
//                 }
//             }
//             .tienda {
//                 border-radius: 10px;
//             }
//         }
//     }
// }

// .imagenes {
//     width: 60%;
// }

// .alertDanger {
//     color: var(--ion-color-danger);
//     // background-color: rgb(248, 172, 172);
//     // border-radius: 3px;
//     // width: 100%;
// }

// .mensajeError {
//     margin-left: 10px;
//     font-size: 13px;
//     padding: 5px;
//     text-align: center;
// }

// * {
//     ion-label {
//         font-family: Nunito;
//     }
    
//     ion-input {
//         font-family: Nunito;
//         border: solid 1px var(--ion-color-primary);
//         border-radius: 5px;
//         margin-top: 5px;
//         --padding-start: 12px;
//     }
    
//     ion-textarea {
//         font-family: Nunito;
//         border: solid 1px var(--ion-color-primary);
//         border-radius: 5px;
//         margin-top: 5px;
//         --padding-start: 12px;
//     }
    
//     ion-input[type=date] {
//         margin-top: 5px;
//         border: solid 1px var(--ion-color-primary);
//     }
// }

// .custom-options {
//     border: solid 1px var(--ion-color-primary);
//     border-radius: 5px;
//     margin-top: 5px;
//     --padding-start: 12px;
// }

// // *{
// //     font-family: Sniglet;
// // }
// // .datos {
// //     text-align: center;
// //     margin: 10px;
// //     img {
// //         height: 200px;
// //         width: 100%;
// //         object-fit: contain;
// //         object-position: center center;
// //     }
// //     .nombre {
// //         font-size: 22px;
// //     }
// //     hr {
// //         height: 1px;
// //         background-color: #2dd36f;
// //         width: 80%;
// //     }
// //     // .cantidad {
// //     // }
// //     // .precio {
// //     // }
// //     ion-item{
// //         margin-top: 5%;
// //     }
// //     .tienda {
// //         border-radius: 10px;
// //     }
// // }
// // .prohibido {
// //     height: 100%;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     align-content: center;
// //     .tetxoProhibido {
// //         text-align: center;
// //         border: solid 2px var(--ion-color-danger);
// //         padding: 10%;
// //         border-radius: 10px;
// //         color: var(--ion-color-danger);
// //         font-weight: bold;
// //         ion-icon {
// //             zoom: 2;
// //         }
// //     }
// // }
// // .sinDatos {
// //     height: 100%;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     align-content: center;
// //     .textoSindatos {
// //         text-align: center;
// //         border: solid 2px var(--ion-color-danger);
// //         padding: 10%;
// //         border-radius: 10px;
// //         color: var(--ion-color-danger);
// //         font-weight: bold;
// //         ion-icon {
// //             zoom: 2;
// //         }
// //     }
// // }
// // .cargando {
// //     height: 100%;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     align-content: center;
// // }
// // .alertDanger {
// //     color: rgb(255, 0, 0);
// //     background-color: rgb(248, 172, 172);
// //     border-radius: 3px;
// //     width: 100%;
// // }
// // .mensajeError {
// //     margin-left: 10px;
// //     font-size: 13px;
// //     padding: 5px;
// // }
form {
    ion-grid {
        padding: 0px;
        ion-row {
            padding: 0px;
            ion-col {
                // padding: 0px;

            }
        }
    }
    .imagenes {
        // height: 100%;
        width: 100%;
        .fotoProducto {
            // height: 100%;
            width: 100%;
            img {
                height: 240px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}
.alertDanger {
    color: var(--ion-color-light);
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 999;
    margin: 0 auto;
}

.alertWarning {
    color: white;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 999;
    margin: 0 auto;
}

.mensajeError {
    background-color: rgba(248, 50, 50, 0.616);
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    // padding: 5px;
    text-align: center;
}

.mensajeWarning {
    background-color: var(--ion-color-warning);;
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    // padding: 5px;
    text-align: center;
}

.sedes {
    text-align: center;
}

* {
    ion-label {
        font-family: Nunito;
    }
    ion-input {
        font-family: Nunito;
        border: solid 1px var(--ion-color-primary);
        border-radius: 5px;
        margin-top: 5px;
        --padding-start: 12px;
    }
    ion-textarea {
        font-family: Nunito;
        border: solid 1px var(--ion-color-primary);
        border-radius: 5px;
        margin-top: 5px;
        --padding-start: 12px;
    }
}

ion-input[type=date] {
    margin-top: 5px;
    border: solid 1px var(--ion-color-primary);
}

.custom-options {
    border: solid 1px var(--ion-color-primary);
    border-radius: 5px;
    margin-top: 5px;
    --padding-start: 12px;
}

.cabecera {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
}
.cuerpo {
    background-color: var(--ion-color-light);
}