<ion-header>
  <ion-toolbar>
    <ion-title>refactorCompra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formComprobante" (ngSubmit)="onSubmit()" class='comprobante'>
    <ion-item>
      <ion-label position="stacked">Tipo de comprobante</ion-label>
      <ion-select value="facElectronica" interface="popover" formControlName="tipoComp">
        <ion-select-option value="facElectronica">Factura Electrónica</ion-select-option>
        <ion-select-option value="boletaVenta">Boleta de venta</ion-select-option>
        <ion-select-option value="guia">Guía</ion-select-option>
        <ion-select-option value="notaEntrada">Nota de entrada</ion-select-option>
        <ion-select-option value="reciboPorHonorarios">Recibo por Honorarios</ion-select-option>
        <ion-select-option value="serviciosPublicos">Servicios Publicos</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">serie<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="serieComp"></ion-input>
      <div class="alertDanger" *ngIf="serieComp.invalid && (serieComp.dirty || serieComp.touched)">
        <div class="mensajeError" *ngIf="serieComp.errors.required">
          *Ingrese el RUC del proveedor
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="numeroComp"></ion-input>
      <div class="alertDanger" *ngIf="numeroComp.invalid && (numeroComp.dirty || numeroComp.touched)">
        <div class="mensajeError" *ngIf="numeroComp.errors.required">
          *Complete el numero del comprobante
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" >fecha de emision</ion-label>
      <input type="date" formControlName="fechaEmisionComp" class="form-control" />
      <!-- <ion-datetime display-format="DD/MM/YYYY" formControlName="fechaEmisionComp"></ion-datetime> -->
    </ion-item>
  </form>

  <!-- <ion-item class="data-comprobante" lines="none" >
    <ion-item >
      <ion-label position="stacked">Tipo de comprobante</ion-label>
      <ion-select value="facElectronica" interface="popover">
        <ion-select-option value="facElectronica">Factura Electrónica</ion-select-option>
        <ion-select-option value="boletaVenta">Boleta de venta</ion-select-option>
        <ion-select-option value="guia">Guía</ion-select-option>
        <ion-select-option value="notaEntrada">Nota de entrada</ion-select-option>
        <ion-select-option value="reciboPorHonorarios">Recibo por Honorarios</ion-select-option>
        <ion-select-option value="serviciosPublicos">Servicios Publicos</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Serie *</ion-label>
      <ion-input type="text" placeholder="Serie"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" >Número *</ion-label>
      <ion-input type="text" placeholder="Número"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" >fecha de emision</ion-label>
      <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>
  </ion-item> -->

  <ion-item-divider></ion-item-divider>

<ion-list class="proveedor">
  <ion-header>
    <ion-label>Proveedor</ion-label>
  </ion-header>


  <ion-button (click)="abriModalProveedor()">
    seleccionar Proveedor
  </ion-button>
  <div class="alertDanger" *ngIf="!provedorObtenido">
    *Seleccione un proveedor.
  </div>


  <!-- <div *ngIf="provedorObtenido">
    <ion-item>
      <ion-label>Datos del proveedor </ion-label>
    </ion-item>
    <ion-item>
      <ion-list-header>
        <ion-label>Nombre: {{provedorObtenido.nombre}}</ion-label>
        <ion-label>RUC: {{provedorObtenido.ruc}}</ion-label>
      </ion-list-header>
    </ion-item>
  </div> -->

  <ion-card *ngIf="provedorObtenido">
    <ion-card-header>
      <ion-card-title>Datos del proveedor</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label>Proveedor: {{provedorObtenido.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>RUC: {{provedorObtenido.ruc}}</ion-label>
    </ion-item>
  </ion-card>


</ion-list>

  <!-- <ion-item-divider></ion-item-divider>


  <ion-item class="data-proveedor" lines="none">
    <ion-item>
      <ion-header>
        <ion-label>Proveedor</ion-label>
      </ion-header>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Proveedor</ion-label>
      <ion-input type="text" placeholder="Proveedor" [value]="nameRuc"></ion-input>
      <ion-button (click)="abriModalProveedor()">
        Seleccionar proveedor
      </ion-button>
    </ion-item>
  </ion-item> -->

  <ion-item-divider></ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-header>
          <ion-label>Lista de productos</ion-label>
        </ion-header>
        <ion-item>
          <ion-searchbar style="width: 100%;" slot="end" (ionClear)="limpiarBuscador()" (ionChange)="Search($event)" #search placeholder="Buscar" inputmode="text" debounce="1000" animated="true" mode="ios">Buscar</ion-searchbar>
        </ion-item>
        <ion-list-header>
          <ion-label>#</ion-label>
          <ion-label>nombre</ion-label>
          <ion-label>unidad</ion-label>
          <ion-label>Precio Unitario</ion-label>
          <ion-label>Acciones</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let prod of listaDeProductos; let i = index">
          <ion-label>{{i+1}}</ion-label>
          <ion-label>{{prod.nombre}}</ion-label>
          <ion-label>{{prod.unidad}}</ion-label>
          <ion-label>{{prod.precio}}</ion-label>
          <ion-button (click)="seleccionarProducto(prod)">select</ion-button>
        </ion-item>
        <ion-item>
          <ion-button slot="end" (click)="AgregarNuevoProducto()">
            Agregar Producto
          </ion-button>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-header>
          <ion-label>Editar Producto de compra</ion-label>
        </ion-header>

        <form [formGroup]="formItemDeCompras" readonly *ngIf="productSelect">
          <ion-item>
            <ion-label position="floating">Nombre del producto<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required  type="text" readonly formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input type="text" readonly formControlName="descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cantidades<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" formControlName="cantidad" placeholder="00"></ion-input>
            <div class="alertDanger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
              <div class="mensajeError" *ngIf="cantidad.errors.required">
                *Ingrese cantidad
              </div>
              <div class="mensajeError" *ngIf="cantidad.errors.pattern">
                *solo ingrese numeros
              </div>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Precio Unitario de compra(s/.)<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" formControlName="pu_compra" placeholder="00.00"></ion-input>
            <div class="alertDanger" *ngIf="pu_compra.invalid && (pu_compra.dirty || pu_compra.touched)">
              <div class="mensajeError" *ngIf="pu_compra.errors.required">
                *Ingrese precio unitario compra
              </div>
              <div class="mensajeError" *ngIf="pu_compra.errors.pattern">
                *solo formato de moneda 00.00
              </div>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Decuenteo</ion-label>
            <ion-input type="text" formControlName="descuento" placeholder="00.00"></ion-input>
            <div class="alertDanger" *ngIf="descuento.invalid && (descuento.dirty || descuento.touched)">
              <div class="mensajeError" *ngIf="descuento.errors.pattern">
                *solo formato de moneda 00.00
              </div>
            </div>
          </ion-item>
          <ion-button block color="primary" slot="end" (click)="limpiarProductSelect()">
            Limpiar
          </ion-button>
          <ion-button  block color="primary"
          [disabled]="formItemDeCompras.invalid" slot="end" (click)="AgregarAListaDeCompra()">
            Agregar a lista
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider></ion-item-divider>
  <ion-list>
    <ion-list-header lines="inset" color="primary"s>
      <ion-label>#</ion-label>
      <ion-label>nombre</ion-label>
      <ion-label>unidad</ion-label>
      <ion-label>cantidad</ion-label>
      <ion-label>?valorUnitario?</ion-label>
      <ion-label>PU compra</ion-label>
      <ion-label>Descuento</ion-label>
      <ion-label>Cargo</ion-label>
      <ion-label>Total</ion-label>
      <ion-label>acciones</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let itemCompra of listaItemsDeCompra;let i = index">
      <ion-label>{{i+1}}</ion-label>
      <ion-label>{{itemCompra.producto.nombre}}</ion-label>
      <ion-label>{{itemCompra.producto.unidad!=null?itemCompra.producto.unidad:'non'}}</ion-label>
      <ion-label>{{itemCompra.cantidad}}</ion-label>
      <ion-label>????</ion-label>
      <ion-label>{{itemCompra.PU_compra}}</ion-label>
      <ion-label>{{itemCompra.descuento}}</ion-label>
      <ion-label>????</ion-label>
      <ion-label>{{itemCompra.totalCompraxProducto}}</ion-label>
      <ion-item>
        <ion-button (click)="EditarItemDeCompra(itemCompra)">
          <ion-icon name="create-outline" ></ion-icon>
        </ion-button>
        <ion-button (click)="EliminarItemDeCompra(itemCompra.id)">
          <ion-icon name="trash-outline" ></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item>

    <!-- <ion-item>
      <ion-label>n</ion-label>
      <ion-label>prod.name</ion-label>
      <ion-label>prod.unidad</ion-label>
      <ion-label><input type="text" name="" id="" value="12"></ion-label>
      <ion-label>????</ion-label>
      <ion-label>prod.precio</ion-label>
      <ion-label>item.descuento</ion-label>
      <ion-label>????</ion-label>
      <ion-label>item.total</ion-label>
      <ion-item>
        <ion-button (click)="onClick()">

          <ion-icon name="create-outline" ></ion-icon>
        </ion-button>
        <ion-button (click)="onClick()">
          <ion-icon name="trash-outline" ></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item> -->

    <ion-item>
      <ion-label>IGV</ion-label>
      <ion-label>Total: {{totalxCompra}}</ion-label>
      <ion-button (click)="limpiarListaDeCompras()"  [disabled]="!listaItemsDeCompra.length">
        Cancelar
      </ion-button>
      <ion-button (click)="generarCompra()" [disabled]="formComprobante.invalid">
        Comprar/Generar
      </ion-button>
    </ion-item>

  </ion-list>
  <ion-item-divider></ion-item-divider>




</ion-content>
