



// .egt th{padding:.2em .8em;border:1px solid rgba(20,50,90,.25);background:rgba(0,102,255,.25);text-align:center}
// .egt td{padding:.2em .8em;border:1px solid rgba(16,76,167,.25);background:rgba(90,156,255,.25);text-align:left}

.comprobante ion-item {
    display: inline-block;
}
// .proveedor ion-item {
//     display: inline-block;
// }


.alertDanger {
    color: rgb(255, 0, 0);
    background-color: rgb(248, 172, 172);
    border-radius: 3px;
    width: 100%;
}
.mensajeError {
    margin-left: 10px;
    font-size: 13px;
    padding: 5px;
    text-align: center;
}