<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Compras</ion-title>
    <!-- <ion-buttons slot="end"> FALLA PARA EDITAR LA COMPRA
      <ion-button color="primary" (click)="irPagina()">
        <ion-label>Lista de Compras</ion-label>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title class="ion-text-center">
        <ion-label color="light">Nueva compra</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formComprobante" class='comprobante'>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item lines="none ">
                <ion-label color="primary" position="stacked">Tipo de comprobante</ion-label>
                <ion-select [interfaceOptions]="{cssClass: 'ionSelects'}" class="custom-options" value="facElectronica" mode="ios" interface="popover" formControlName="tipoComp">
                  <ion-select-option value="factura">Factura</ion-select-option>
                  <ion-select-option value="boleta">Boleta</ion-select-option>
                  <ion-select-option value="nota de venta">Nota de venta</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none ">
                <ion-label color="primary" position="floating">Serie<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="text" formControlName="serieComp" placeholder="Ingrese la serie"></ion-input>
              </ion-item>
              <div class="alertDanger" *ngIf="serieComp.invalid && (serieComp.dirty || serieComp.touched)">
                <div class="mensajeError" *ngIf="serieComp.errors.required">
                  *Complete la serie del comprobante
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-item lines="none ">
                <ion-label color="primary" position="floating">Número<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" formControlName="numeroComp" placeholder="Ingrese el número"></ion-input>
              </ion-item>
              <div class="alertDanger" *ngIf="numeroComp.invalid && (numeroComp.dirty || numeroComp.touched)">
                <div class="mensajeError" *ngIf="numeroComp.errors.required">
                  *Complete el numero del comprobante
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-item lines="none ">
                <ion-label color="primary" position="stacked" >Fecha de Emisión</ion-label>
                <ion-input type="date" formControlName="fechaEmisionComp" class="form-control"></ion-input>
                <!-- <ion-datetime display-format="DD/MM/YYYY" formControlName="fechaEmisionComp"></ion-datetime> -->
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <!-- INICO PROVEEDOR -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Proveedor</ion-label>
              <ion-button slot="end" color="secondary" fill="outline" (click)="modalAgregarNuevoProveedor()" >
                <ion-label>Nuevo Proveedor</ion-label>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <!-- <ion-label color="primary" position="floating">Proveedor</ion-label> -->
              <ion-input (click)="modalProveedor()" placeholder="Seleccionar proveedor"
              [value]="provedorObtenido?provedorObtenido.numeroDocumento + ' - ' + provedorObtenido.nombre:''" type="text">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- FIN PROVEEDOR -->
      <ion-item-divider><ion-label>Productos</ion-label></ion-item-divider>
      <ion-grid>
        <ion-row class="headerItems">
          <ion-col size="0.5"><ion-label color="light">#</ion-label></ion-col>
          <ion-col><ion-label color="light">Nombre</ion-label></ion-col>
          <ion-col><ion-label color="light">Medida</ion-label></ion-col>
          <ion-col><ion-label color="light">Cantidad</ion-label></ion-col>
          <ion-col><ion-label color="light">PU Compra</ion-label></ion-col>
          <ion-col><ion-label color="light">PU Venta</ion-label></ion-col>
          <ion-col><ion-label color="light">Total</ion-label></ion-col>
          <ion-col><ion-label color="light">Acciones</ion-label></ion-col>
        </ion-row>
        <ion-row *ngFor="let itemCompra of listaItemsDeCompra; let i = index"
        class="ion-justify-content-center ion-align-items-center contentItems">
          <ion-col size="0.5">{{i+1}}</ion-col>
          <ion-col>{{itemCompra.producto.nombre | titlecase}}</ion-col>
          <ion-col>{{itemCompra.producto.medida!=null?itemCompra.producto.medida:'NaN'}}</ion-col>
          <ion-col>{{itemCompra.cantidad}}</ion-col>
          <ion-col>{{itemCompra.pu_compra}}</ion-col>
          <ion-col>{{itemCompra.pu_venta}}</ion-col>
          <ion-col>{{itemCompra.totalCompraxProducto}}</ion-col>
          <ion-col>
            <ion-button size="small" color="success" (click)="modalEditarItemDeCompra(itemCompra)">
              <ion-icon color="light" name="create-outline" ></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger" (click)="eliminarItemDeCompra(itemCompra.id)">
              <ion-icon color="light" name="trash-outline" ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="!ACTUALIZAR_COMPRA">
              <!-- <ion-label>IGV</ion-label> -->
              <ion-label>Total: {{totalxCompra.toFixed(2)}}</ion-label>
              <ion-button color="danger" (click)="limpiarListaDeCompras()"  [disabled]="!listaItemsDeCompra.length">
                Cancelar
              </ion-button>
              <ion-button color="success" (click)="generarCompra()" [disabled]="formComprobante.invalid || comprando">
                Generar Compra
              </ion-button>
            </ion-item>
            <ion-item  *ngIf="ACTUALIZAR_COMPRA">
              <!-- <ion-label>IGV</ion-label> -->
              <ion-label>Total: {{totalxCompra.toFixed(2)}}</ion-label>
              <ion-button color="danger" [disabled]="!listaItemsDeCompra.length" routerLink="/lista-de-compras" (click)="cancelarActulizarCompra()">
                Cancelar
              </ion-button>
              <ion-button color="success" (click)="actualizarCompra()" [disabled]="formComprobante.invalid || comprando">
                Actualizar Compra
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label>BUSCAR PRODUCTOS PARA AGREGAR</ion-label>
    <ion-button fill="outline" color="secondary" slot="end" (click)="modalNuevoProducto()">
      Agregar Producto
    </ion-button>
  </ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="12">
        <ion-item lines='none'>
          <ion-searchbar style="width: 100%;" slot="end" (ionClear)="limpiarBuscador()" (ionChange)="buscador($event)"
          #search placeholder="Buscar" inputmode="text" debounce="500" mode="ios"></ion-searchbar>
        </ion-item>
        <ion-row class="headerPROD">
          <ion-col size="1"><ion-label color="light">#</ion-label></ion-col>
          <ion-col size="4"><ion-label color="light">Nombre</ion-label></ion-col>
          <ion-col size="1"><ion-label color="light">Cant. Stock</ion-label></ion-col>
          <ion-col size="1"><ion-label color="light">PU Venta</ion-label></ion-col>
          <ion-col size="1"><ion-label color="light">PU Compra</ion-label></ion-col>
          <ion-col size="1"><ion-label color="light">Margen</ion-label></ion-col>
          <ion-col size="1"><ion-label color="light">Medida</ion-label></ion-col>
          <ion-col size="2"><ion-label color="light">Accion</ion-label></ion-col>
        </ion-row>
        <ion-row class="contentPROD"   *ngFor="let prod of listaDeProductos; let i = index">
          <!-- <ion-col size="10" class="contentPROD" (click)="modalAgregarItemDeCompra(prod)">
          </ion-col> -->
          <ion-col (click)="modalAgregarItemDeCompra(prod)" size="1"><ion-label>{{i+1}}</ion-label></ion-col>
          <ion-col (click)="modalAgregarItemDeCompra(prod)" size="4"><ion-label>{{prod.nombre | titlecase}}</ion-label></ion-col>
          <ion-col (click)="modalAgregarItemDeCompra(prod)" size="1"><ion-label>{{prod.cantStock}}</ion-label></ion-col>
          <ion-col (click)="modalAgregarItemDeCompra(prod)" size="1"><ion-label>{{prod.precio | number:'1.2'}}</ion-label></ion-col>
          <ion-col (click)="modalAgregarItemDeCompra(prod)" size="1"><ion-label>{{prod.precioCompra | number:'1.2'}}</ion-label></ion-col>
          <ion-col (click)="modalAgregarItemDeCompra(prod)" size="1"><ion-label>{{(prod.precio / prod.precioCompra).toFixed(2)}}</ion-label></ion-col>
          <ion-col (click)="modalAgregarItemDeCompra(prod)" size="1"><ion-label>{{prod.medida | titlecase}}</ion-label></ion-col>
          <ion-col size="2">
            <ion-button size="small" color="success" (click)="modalEditarProducto(prod)">
              <ion-icon color="light" name="create-outline" ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- <ion-col size="6">
        <ion-item>
          <ion-label>Editar Producto de compra</ion-label>
        </ion-item>

        <form [formGroup]="formItemDeCompras" readonly *ngIf="productSelect">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Nombre del producto<ion-text color="danger">*</ion-text></ion-label>
            <ion-input  type="text" formControlName="nombre" placeholder="Nombre" required  readonly></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Cantidades<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="cantidad" placeholder="00" required></ion-input>
            <div class="alertDanger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
              <div class="mensajeError" *ngIf="cantidad.errors.required">
                *Ingrese cantidad
              </div>
              <div class="mensajeError" *ngIf="cantidad.errors.pattern">
                *solo ingrese numeros
              </div>
            </div>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Precio Unitario de compra(s/.)<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="pu_compra" placeholder="Precio" placeholder="00.00" required></ion-input>
            <div class="alertDanger" *ngIf="pu_compra.invalid && (pu_compra.dirty || pu_compra.touched)">
              <div class="mensajeError" *ngIf="pu_compra.errors.required">
                *Ingrese precio unitario compra
              </div>
              <div class="mensajeError" *ngIf="pu_compra.errors.pattern">
                *solo formato de moneda 00.00
              </div>
            </div>
          </ion-item>
          <ion-button size="small" block color="primary" slot="end" (click)="limpiarProductSelect()">
            <ion-label color="light">Limpiar</ion-label>
          </ion-button>
          <ion-button size="small"  block color="primary"
          [disabled]="formItemDeCompras.invalid" slot="end" (click)="agregarItemACompra()">
            <ion-label color="light">Agregar a lista</ion-label>
          </ion-button>
        </form>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>

