<ion-list *ngIf="!exportar && !importarProductosCompuestos && !formato">
  <ion-item (click)="popAction('Editar')">
    <ion-icon slot="start" name="create-outline" color="primary"></ion-icon>
    <ion-label>Editar</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction('Eliminar')">
    <ion-icon slot="start" name="trash-outline" color="danger"></ion-icon>
    <ion-label>Eliminar</ion-label>
  </ion-item>
</ion-list>

<ion-list *ngIf="exportar">
  <ion-item (click)="popAction('pdf')" lines="none">
    <ion-icon slot="start"name="archive-outline" color="primary"></ion-icon>
    <ion-label>Pdf</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction('excel')">
    <ion-icon slot="start" name="archive-outline" color="primary"></ion-icon>
    <ion-label>Excel</ion-label>
  </ion-item>
</ion-list>
<ion-list *ngIf="formato">
  <ion-item (click)="popAction('a4')" lines="none">
    <ion-icon slot="start"name="document-text-outline" color="primary"></ion-icon>
    <ion-label>Pdf</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction('ticked')">
    <ion-icon slot="start" name="document-outline" color="primary"></ion-icon>
    <ion-label>Ticket</ion-label>
  </ion-item>
</ion-list>
<ion-list *ngIf="importarProductosCompuestos">
  <ion-item (click)="popAction('ProdCompuesto')" lines="none">
    <!-- <ion-icon slot="start"name="archive-outline" color="primary"></ion-icon> -->
    <ion-label>1. Productos Compuestos</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction('DetalleProdCompuesto')">
    <!-- <ion-icon slot="start" name="archive-outline" color="primary"></ion-icon> -->
    <ion-label>2. Detalle Productos Compuestos</ion-label>
  </ion-item>
</ion-list>