<ion-header>
  <ion-toolbar>
    <ion-title>testPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="login()" >
    test-login
  </ion-button>
  <ion-button (click)="listarEmpresas()" >
    listarEmprasas
  </ion-button>
  <ion-button (click)="obtenerEmpresaPorRuc()" >
    Obtener empresa por RUC
  </ion-button>
  <ion-button (click)="obtenerTokenDeEmpresa()" >
    Obtener token de empresa
  </ion-button>
  <ion-button (click)="guardarDatosDeEmpresa()" >
    guardar datos empresa
  </ion-button>
  <ion-button (click)="obtenerDatosDeEmpresa()" >
    obtener datos de empresa
  </ion-button>

</ion-content>
