ion-grid {
    margin: 3%;
    .headerUsuarios {
        background-color: var(--ion-color-primary);
        text-align: center;
        padding: 5px;
        ion-label{
            color: var(--ion-color-light);
        }
    }

    .contentUsuarios {
        background-color: var(--ion-color-light);
    }
}
.sinDatos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .textoSindatos {
        text-align: center;
        // border: solid 2px var(--ion-color-danger);
        padding: 10%;
        margin: 10%;
        border-radius: 10px;
        font-weight: bold;
        .icono {
            zoom: 4;
        }
    }
}

.cargando {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}