<div class="pedidos" *ngIf="listaPedidos.length>0">
  <ion-card *ngFor="let pedido of listaPedidos" [ngClass]="{'gris': estadoPedido==='cancelado', 'rojo': estadoPedido==='pendiente', 'amarillo': estadoPedido==='confirmado', 'verde': estadoPedido==='completado'}">
    <ion-card-header *ngIf="listaPedidos.length>0 && sinPedidos===false">
      <ion-item [ngClass]="{'grisItem': estadoPedido==='cancelado', 'rojoItem': estadoPedido==='pendiente', 'amarilloItem': estadoPedido==='confirmado', 'verdeItem': estadoPedido==='completado'}">
        <ion-label (click)="presentAlertConfirm(pedido.cliente)">{{pedido.cliente}}</ion-label>
        <!-- <ion-label>{{pedido.estado | titlecase}}</ion-label> -->
        <ion-button fill="clear" (click)="irDetallesPedido(pedido.id)">
          <ion-label [color]="color">Ver detalles</ion-label>
          <ion-icon [color]="color" name="caret-forward"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content *ngIf="listaPedidos.length>0 && sinPedidos===false">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-xs="2" class="colDatos">
          <img src="../../../assets/img/pet chop.png" alt="">
          <div class="datos">
            <!-- <ion-label>{{pedido.cliente}}</ion-label><br> -->
            <!-- <ion-label>910101020</ion-label> -->
          </div>
        </ion-col>
        <ion-col size-xs="10">
          <ion-item>
            <ion-icon name="wallet-outline" [color]="color"></ion-icon> &nbsp;
            <ion-label style="font-family: Sniglet;">{{pedido.metodoPago}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="timer-outline" [color]="color"></ion-icon> &nbsp;
            <ion-label style="font-family: Sniglet;">{{pedido.fechaEntrega}}</ion-label>
          </ion-item>
          <!-- <ion-label>Fecha de compra: {{pedido.fechaCompra}}</ion-label> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>{{pedido.fechaCompra | titlecase}}</ion-label>
          <!-- <ion-label>Entrega: {{pedido.fechaEntrega}}</ion-label> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-progress-bar [color]="color" value="{{pedido.progress}}" buffer="{{pedido.progress}}"></ion-progress-bar>
      </ion-row>
      <ion-row *ngIf="estadoPedido==='pendiente'">
        <ion-col>
          <ion-button size="small"  fill="outline" shape="round" color="dark" (click)="actualizarEstado(pedido.id, 'cancelado')">Cancelar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="small"  fill="outline" shape="round" color="success" (click)="actualizarEstado(pedido.id, 'confirmado')">Confirmar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="estadoPedido==='cancelado'">
        <ion-col>
          <ion-button size="small"  fill="outline" shape="round" expand="block" color="danger" (click)="actualizarEstado(pedido.id, 'pendiente')">Pasar a pendiente</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="estadoPedido==='confirmado'">
        <ion-col>
          <ion-button size="small"  fill="outline" shape="round" expand="block" color="success" (click)="actualizarEstado(pedido.id, 'completado')">Pedido completado</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col>
          <a style="text-decoration: none;" target="_blank" href="{{pedido.url}}">
            <ion-button size="small" expand="block" shape="round" fill="clear">
              <ion-icon color="primary" name="navigate-outline"></ion-icon>&nbsp;
              <ion-label>Navegar</ion-label>
            </ion-button>
          </a>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>

<div class="sinDatos" *ngIf="sinPedidos===true">
  <div class="textoSindatos">
    <ion-icon class="icono" name="clipboard-outline" color="medium"></ion-icon> <br><br>
    <ion-label color="medium">No existe ningun pedido</ion-label> <br> <br>
    <!-- <ion-button [routerLink]="[ '/home']" fill="outline" shape="round">Seguir comprando
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button> -->
  </div>
</div>
<div class="cargando" *ngIf="(sinPedidos===null || sinPedidos===undefined)">
  <div class="textoCargando">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>
</div>