<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{categoria | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="controlSearchbar()">
        <ion-icon slot="icon-only" color="primary" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cargando" *ngIf="(sinProductos===undefined)">
    <div class="textoCargando">
      <ion-spinner name="dots" color="primary"></ion-spinner><br>
      <ion-label>Cargando productos</ion-label>
    </div>
  </div>

  <div id="container" style="margin: 5%;" *ngIf="sinProductos===true">
    <strong>Aún no tienes productos agregados</strong>
    <p>Empieza a agregar un producto con el boton '+' situado en la parte inferior derecha. </p>
  </div>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="6" *ngFor="let categoria of categorias">
          <ion-card (click)="irLIstaProductos(categoria.categoria)">
            <ion-card-header [style.background-color]="categoria.color">
              <img [src]="categoria.img" alt="">
            </ion-card-header>
            <ion-card-content color="light">
              <ion-label [style.color]="categoria.color">{{categoria.categoria | titlecase}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando datos...">
    </ion-infinite-scroll-content>  
  </ion-infinite-scroll> -->
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
     <!-- (click)="agregarProducto()" -->
    <ion-fab-button (click)="agregarProducto()">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
