* {
    ion-label {
        font-size: 14px;
    }
}
.headerProveedores {
    background-color: var(--ion-color-primary);
    text-align: center;
}

.contentProveedores {
    background-color: var(--ion-color-light);
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sinDatos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .textoSindatos {
        text-align: center;
        // border: solid 2px var(--ion-color-danger);
        padding: 10%;
        margin: 10%;
        border-radius: 10px;
        font-weight: bold;
        .icono {
            zoom: 4;
        }
    }
}

.cargando {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}