<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Proveedores</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" color="primary" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buscador">
    <ion-searchbar #mainSearchbar mode="ios" placeholder="Buscar Proveedor" type="text" (ionChange)="buscarProveedor($event)" [debounce]="250"></ion-searchbar>
  </div>
  <div class="sinDatos" *ngIf="!hayDatos">
    <div class="textoSindatos">
      <ion-icon class="icono" name="people-outline" color="medium"></ion-icon> <br><br>
      <ion-label color="medium">No existe ningun proveedor registrado</ion-label> <br> <br>
    </div>
  </div>
  <div class="cargando" *ngIf="!hayDatos">
    <div class="textoCargando">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
  </div>
  <ion-grid *ngIf="listaDeProveedores && listaDeProveedores.length > 0">
    <ion-row class="headerProveedores">
      <ion-col><ion-label color="light">Nombre</ion-label></ion-col>
      <ion-col><ion-label color="light">RUC / DNI</ion-label></ion-col>
      <ion-col><ion-label color="light">Telefono</ion-label></ion-col>
      <ion-col><ion-label color="light">Direccion</ion-label></ion-col>
    </ion-row>
    <ion-row class="contentProveedores" (click)="SeleccionarProveedor(provedor)" *ngFor="let provedor of listaDeProveedores | buscarProveedor:textoBuscar">
      <ion-col><ion-label>{{provedor.nombre | titlecase}}</ion-label></ion-col>
      <ion-col><ion-label>{{provedor.numeroDocumento}}</ion-label></ion-col>
      <ion-col><ion-label>{{provedor.telefono}}</ion-label></ion-col>
      <ion-col><ion-label>{{provedor.direccion | titlecase}}</ion-label></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
