<ion-list *ngIf="mes">
  <div *ngFor="let data of mesesMostrar">
    <ion-item (click)="popAction(data.numero + 1)" lines="none">
      <ion-label>{{data.mes}}</ion-label>
    </ion-item>
  </div>
  <!-- <ion-item (click)="popAction(1)" lines="none">
    <ion-label>Enero</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction(2)">
    <ion-label>Febrero</ion-label>
  </ion-item>
  <ion-item (click)="popAction(3)" lines="none">
    <ion-label>Marzo</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction(4)">
    <ion-label>Abril</ion-label>
  </ion-item>
  <ion-item (click)="popAction(5)" lines="none">
    <ion-label>Mayo</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction(6)">
    <ion-label>Junio</ion-label>
  </ion-item>
  <ion-item (click)="popAction(7)" lines="none">
    <ion-label>Julio</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction(8)">
    <ion-label>Agosto</ion-label>
  </ion-item>
  <ion-item (click)="popAction(9)" lines="none">
    <ion-label>Septiembre</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction(10)">
    <ion-label>Octubre</ion-label>
  </ion-item>
  <ion-item (click)="popAction(11)" lines="none">
    <ion-label>Noviembre</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="popAction(12)">
    <ion-label>Diciembre</ion-label>
  </ion-item> -->
</ion-list>
