.headerProveedores {
    background-color: var(--ion-color-primary);
    ion-label{
        color: var(--ion-color-light);
    }
}

.contentProveedores {
    background-color: var(--ion-color-light);
}