<ion-header>
  <ion-toolbar>
    <ion-title>{{dataModal.itemCompra.cantidad > 0 ? 'Editar Item de Compra': 'Agregar Item de Compra'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon color="primary" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formItemDeCompras">
    <ion-item lines="none">
      <ion-label position="floating" color="primary">Nombre del producto<ion-text color="danger">*</ion-text></ion-label>
      <ion-input  type="text" formControlName="nombre" placeholder="Nombre" required  readonly color="primary"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Precio Unitario de compra(s/.)<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number" formControlName="pu_compra" placeholder="Precio" placeholder="00.00" required (keypress)="decimalOnlyValidation($event)"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="pu_compra.invalid && (pu_compra.dirty || pu_compra.touched)">
            <div class="mensajeError" *ngIf="pu_compra.errors.required">
              *Ingrese precio unitario compra: 00.00
            </div>
            <div class="mensajeError" *ngIf="pu_compra.errors.pattern">
              *solo formato de moneda 00.00
            </div>
          </div>
        </ion-col>
        <ion-col size-lg="6">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Cantidades<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number" formControlName="cantidad" placeholder="00" required (keypress)="decimalOnlyValidation($event)"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
            <div class="mensajeError" *ngIf="cantidad.errors.required">
              *Ingrese cantidad: 00.00
            </div>
            <div class="mensajeError" *ngIf="cantidad.errors.pattern">
              *solo ingrese formato decimal: 00.00
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none" color="primary">
            <ion-label position="stacked" color="light">Medida del producto<ion-text color="danger">*</ion-text></ion-label>
            <ion-input readonly> En: {{dataModal.itemCompra.producto.medida | titlecase}}</ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Precio Unitario de Venta(s/.)<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number" formControlName="pu_venta" placeholder="Precio de venta" placeholder="00.00" required (keypress)="decimalOnlyValidation($event)"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="pu_venta.invalid && (pu_venta.dirty || pu_venta.touched)">
            <div class="mensajeError" *ngIf="pu_venta.errors.required">
              *Ingrese precio unitario venta: 00.00
            </div>
            <div class="mensajeError" *ngIf="pu_venta.errors.pattern">
              *solo formato de moneda 00.00
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-button slot="end" size="small" block color="danger" slot="end" (click)="cerrarModal()">
      <ion-label color="light">cancelar</ion-label>
    </ion-button>
    <ion-button slot="end" size="small"  block color="success"
    [disabled]="formItemDeCompras.invalid" slot="end" (click)="modificarItemDeCompra()">
      <ion-label color="light">{{dataModal.itemCompra.cantidad > 0 ? 'Editar': 'Agregar'}}</ion-label>
    </ion-button>
  </ion-item>
</ion-footer>
