
* {
    ion-label {
        font-family: Nunito;
        font-size: 14px;
        padding-right: 5px;
        padding-left: 5px;
    }
}
ion-input {
    border-radius: 5px;
    width: 100%;
    border: 1px gray solid;
    font-size: 14px;
}

ion-row {
    padding: 0px;
    ion-col {
        padding: 0px;
    }
}

.alertDanger {
    color: var(--ion-color-danger);
    // background-color: rgb(248, 172, 172);
    border-radius: 3px;
    width: 100%;
}
.mensajeError {
    // margin-left: 10px;
    font-size: 10px;
    // padding: 5px;
    text-align: left;
}