<ion-grid>
  <ion-row>
    <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index" class="testRows">
      {{i+1}}
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="2">
      <form [formGroup]="formVenta" autocomplete="off">

        <ion-input type="text" formControlName="cantidad" placeholder="nombres" [value]="prod.cantidad" maxlength="5" (keyup)="cambioCantidad()"></ion-input>
        <div class="alertDanger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
          <div class="mensajeError" *ngIf="cantidad.errors.required">
            *Complete la cantidad
          </div>
        </div>
      </form>
    </ion-col>

    <ion-col size="4">
      {{prod.producto.nombre}}
    </ion-col>


    <ion-col size="2">
      {{prod.producto.prec_unit}}
    </ion-col>

    <ion-col size="2">
      {{prod.tatalxprod}}
    </ion-col>

    <ion-col size="2">
      <ion-button (click)="eventoEliminarItem()" >
        quitar
      </ion-button>
    </ion-col>

  </ion-row>
</ion-grid>

