.header-lista-de-productos{
    background-color: var(--ion-color-primary);
}

.contentListaCompra {
    background-color: var(--ion-color-light);
}

ion-footer {
    ion-label {
        font-family: Nunito;
    }
}