<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de compra</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
          <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="header-lista-de-productos">
      <ion-col size="0.5"><ion-label color="light">#</ion-label></ion-col>
      <ion-col size="5.5"><ion-label color="light">nombre</ion-label></ion-col>
      <ion-col size="2"><ion-label color="light">PU compra</ion-label></ion-col>
      <ion-col size="2"><ion-label color="light">Cantidad</ion-label></ion-col>
      <ion-col size="2"><ion-label color="light">Total</ion-label></ion-col>
    </ion-row>
    <ion-row class="contentListaCompra" *ngFor="let itemCompra of compra.listaItemsDeCompra; let i = index">
      <ion-col size="0.5">{{i+1}}</ion-col>
      <ion-col size="5.5">{{itemCompra.producto.nombre | titlecase}}</ion-col>
      <ion-col size="2">{{itemCompra.pu_compra | number:'1.2'}}</ion-col>
      <ion-col size="2">{{itemCompra.cantidad}}</ion-col>
      <ion-col size="2">{{itemCompra.totalCompraxProducto | number:'1.2'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" color="light">
          <ion-label class="ion-text-center" slot="end"><b>TOTAL:</b>  S/. {{compra.totalxCompra | number:'1.2'}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-button (click)="cerrarModal()" slot="end" fill="outline">
      <ion-label>Cerrar</ion-label>
    </ion-button>
  </ion-item>
</ion-footer>
