ion-card {
    text-align: center;
    height: 200px;
    ion-card-header {
        border-bottom-left-radius: 20%;
        height: 150px;
        img {
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    ion-card-content{
        height: 50px;
        width: 100%;
        background: linear-gradient(to bottom right, #00E2EE, #00AFEF);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        // border-top-right-radius: 40px;
        ion-label{
            font-size: 18px;
            color: white;
        }
    }
}

ion-grid {
    ion-row {
        ion-col{
            padding: 0px;
        }
    }
}

.cardPersonal {
    ion-row {
        height: 70px;
    }
    .colTitle {
        height: 100%;
        display: flex;
        justify-content: left;
        align-content: center;
        align-items: center;
        ion-label {
            margin-left: 10%;
            font-weight: bold;
            font-size: 18px;
        }
    }
    
    .colIcon{
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        // opacity: 0.5;
        background-color: rgba(0, 0, 0, 0.253);
        border-radius: 80% 0% 0% 0%;
        ion-icon {
            zoom: 3;
            opacity: 0.9;
        }
    }
}