<ion-header>
  <ion-toolbar>
    <ion-title>registrar-cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index" class="testRows">
        {{i+1}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">
        <div class="divtest">texto</div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">
        <form [formGroup]="clienteForm" autocomplete="off">

          <ion-item>
            <ion-label>Nombres:* </ion-label>
            <ion-input type="text" formControlName="nombre" placeholder="nombres" class="capital" (keypress)="stringOnlyValidation($event)"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div class="mensajeError" *ngIf="nombre.errors.required">
              *Complete el nombre del cliente
            </div>
            <div class="mensajeError" *ngIf="nombre.errors.pattern">
              *No puede ingresar números en el nombre del cliente
            </div>
            <div #elseBlock class="mensajeError" *ngIf="nombre.errors.minlength">
              *Ingrese mínimo 3 caracteres
            </div>
          </div>

          <ion-item>
            <ion-label>Apellidos:* </ion-label>
            <ion-input type="text" formControlName="apellidos" placeholder="Apellidos" (keypress)="stringOnlyValidation($event)"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
            <div class="mensajeError" *ngIf="apellidos.errors.required">
              *Complete el apellido del cliente
            </div>
            <div class="mensajeError" *ngIf="apellidos.errors.minlength">
              *Ingrese mínimo 3 caracteres
            </div>
            <div class="mensajeError" *ngIf="apellidos.errors.pattern">
              *No puede ingresar números en el apellido del cliente
            </div>
          </div>

          <ion-item>
            <ion-label>DNI:* </ion-label>
            <ion-input type="text" (keypress)="numberOnlyValidation($event)" formControlName="dni" placeholder="DNI"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
            <div class="mensajeError" *ngIf="dni.errors.required">
              *Complete su DNI
            </div>
            <div class="mensajeError" *ngIf="dni.errors.minlength">
              *Ingrese 8 dígitos
            </div>
            <div class="mensajeError" *ngIf="dni.errors.maxlength">
              *Ingresó más de 8 dígitos
            </div>
          </div>

          <ion-item>
            <ion-label>Teléfono: </ion-label>
            <ion-input type="text" (keypress)="numberOnlyValidation($event)" formControlName="telefono" placeholder="Teléfono o Cel"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <div class="mensajeError" *ngIf="telefono.errors.required">
              *Ingrese el número de teléfono o celular del proveedor
            </div>
            <div class="alertDanger" *ngIf="telefono.errors.minlength">
              *Ingrese mínimo 6 caracteres
            </div>
            <div class="alertDanger" *ngIf="telefono.errors.maxlength">
              *Teléfono invalido más de 9 caracteres
            </div>
          </div>

          <ion-item>
            <ion-label>Dirección:* </ion-label>
            <ion-input type="text" formControlName="direccion" placeholder="Direccion:"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
            <div class="mensajeError" *ngIf="direccion.errors.required">
              *Ingrese la dirección del proveedor
            </div>
            <div class="alertDanger" *ngIf="direccion.errors.minlength">
              *Ingrese mínimo 3 caracteres
            </div>
          </div>


          <ion-item>
            <ion-label>E-mail:* </ion-label>
            <ion-input type="text" formControlName="email" placeholder="email@company.com"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="mensajeError" *ngIf="email.errors.required">
              *Ingrese el correo electrónico del proveedor
            </div>
            <div class="alertDanger" *ngIf="email.errors.pattern">
              *email invalido: email@company.com
            </div>
          </div>



          <ion-button (click)="guardarCliente()" [disabled]="clienteForm.invalid">
            Guardar
          </ion-button>

        </form>
      </ion-col>

      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
