<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label color="primary">Lista de productos</ion-label>
        <ion-button size="small" slot="end" fill="outline" (click)="abrirModalNuevoProducto()">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          <ion-label>Nuevo Producto</ion-label>
        </ion-button>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-toggle mode="md" slot="end" (ionChange)="verPorStock($event)" color="primary"></ion-toggle>
        <ion-label>Ordenar por Stock</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-searchbar (ionClear)="limpiarBuscador()" (ionChange)="Search($event)" #search placeholder="Buscar"
          inputmode="text" debounce="1000" mode="ios">
        </ion-searchbar>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="sinDatos" *ngIf="sinDatos===true">
    <div class="textoSindatos">
      <ion-icon class="icono" name="gift-outline" color="medium"></ion-icon> <br><br>
      <ion-label color="medium">No se encontraron los productos</ion-label> <br> <br>

    </div>
  </div>
  <div class="cargando" *ngIf="(sinDatos===null || sinDatos===undefined)">
    <div class="textoCargando">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
  </div>

  <!-- Diseño Actual-->
  <ion-card mode="ios" class="cardCompras" *ngFor="let item of listaDeProductos, index as i" (click)="verDetallesProducto(producto.id)">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-lg="0.5" class="ion-text-center numero">
          <ion-label><strong>{{i}}</strong></ion-label>
        </ion-col>
        <ion-col size-lg="1">
          <img *ngIf="item.img" [src]="item.img" alt="">
          <img *ngIf="!item.img" src="../../../assets/img/producto_default.png" alt="">
          <ion-badge>Stock: {{item.cantStock}}</ion-badge>
        </ion-col>
        <ion-col size-lg="3.5">
          <ion-item lines="none">
            <ion-label color="primary" position="stacked">Producto</ion-label>
            <ion-input readonly>{{item.nombre | titlecase}}</ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="1">
          <ion-item lines="none">
            <ion-label color="primary" position="stacked">Stock</ion-label>
            <ion-input readonly>{{item.cantStock}}</ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="1.5">
          <ion-item lines="none">
            <ion-label color="primary" position="stacked">P.Venta</ion-label>
            <ion-input readonly>{{item.precio}}</ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="1.5">
          <ion-item lines="none">
            <ion-label color="primary" position="stacked">P.Compra</ion-label>
            <ion-input readonly>{{item.precioCompra}}</ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="1.5">
          <ion-item lines="none">
            <ion-label color="primary" position="stacked">Margen</ion-label>
            <ion-input readonly value="{{item.precio / item.precioCompra}}"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="1.5">
          <ion-item lines="none">
            <ion-buttons>
              <ion-button mode="ios" fill="clear" size="small" color="success" expand="block" (click)="presentModalEditar(item)">
                <ion-icon name="create-outline"></ion-icon> &nbsp;
              </ion-button>
              <ion-button mode="ios" fill="clear" size="small" color="danger" (click)="alertEliminarProducto(item)">
                <ion-icon name="trash-outline"></ion-icon> &nbsp;
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-grid *ngIf="sinDatos===false">
    <ion-row>
      <ion-col  *ngFor="let item of listaDeProductos">
        <ion-card mode="ios" class="producto">
          <div class="img">
            <img *ngIf="item.img" [src]="item.img" alt="">
            <img *ngIf="!item.img" src="../../../assets/img/producto_default.png" alt="">
            <ion-badge>Stock: {{item.cantStock}}</ion-badge>
          </div>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap ion-text-center">{{item.nombre | titlecase}}</ion-label> -->
            <!-- +++++++++++++++++++++++++<ion-label>{{(((usuario.nombre + ' ' + usuario.apellidos).length > 20) ? ((usuario.nombre + ' ' + usuario.apellidos).slice(0, 20) + '...') : (usuario.nombre + ' ' + usuario.apellidos)) | titlecase}}</ion-label> -->
          <!-- </ion-item>
          <ion-item lines="none" color="light">
            <ion-button mode="ios" fill="clear" size="small" color="success" expand="block" (click)="presentModalEditar(item)">
              <ion-icon name="create-outline"></ion-icon> &nbsp;
              <ion-label>Editar</ion-label>
            </ion-button>
            <ion-button mode="ios" fill="clear" size="small" color="danger" (click)="alertEliminarProducto(item)">
              <ion-icon name="trash-outline"></ion-icon> &nbsp;
              <ion-label>Eliminar</ion-label>
            </ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->


  <!-- Ya estaba cometado  -->
<!-- 
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0 " size-sm="1" size-md="1" size-lg="1"></ion-col>
      <ion-col size="12 " size-xs="12 " size-sm="10" size-md="10 " size-lg="10">
        <ion-card mode="ios">
          <ion-toolbar>
            <ion-button size="small" slot="end" shape="round" fill="outline" (click)="abrirModalNuevoProducto()">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              <ion-label>Nuevo Producto</ion-label>
            </ion-button>
            <ion-title>Lista de productos</ion-title>
          </ion-toolbar>
          <ion-item lines="none" color="light">
            <ion-toggle slot="end" (ionChange)="verPorStock($event)" color="primary"></ion-toggle>
            <ion-label>Ordenar por Stock</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-item>
              <ion-searchbar (ionClear)="limpiarBuscador()" (ionChange)="Search($event)" #search placeholder="Buscar"
                inputmode="text" debounce="1000" animated="true" mode="ios">
              </ion-searchbar>
            </ion-item>
            <ion-list>
              <ion-item *ngFor="let prod of listaDeProductos; let i = index">
                <ion-avatar slot="start">
                  <img *ngIf="prod.img" src="{{prod.img}}" alt="">
                  <img *ngIf="!prod.img" src="../../../assets/img/producto_default.png" alt="">
                </ion-avatar>
                <ion-label>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-label class="ion-text-wrap">{{prod.nombre | titlecase}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <h3>{{prod.cantidad}} {{prod.medida}}</h3>
                        <h3><b>Stock: {{prod.cantStock}}</b></h3>
                      </ion-col>
                      <ion-col
                        style=" display: flex; justify-content: center; align-content: center; align-items: center;">
                        <h2 class="precio">S/. {{prod.precio | number:
                          '1.2'}}</h2>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
                <ion-buttons slot="end">
                  <ion-button (click)="presentModalEditar(prod)">
                    <ion-icon slot="icon-only" color="success" name="create-outline"></ion-icon>
                  </ion-button>

                  <ion-button (click)="alertEliminarProducto(prod)">
                    <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="0 " size-sm="1" size-md="2 " size-lg="2"></ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>