<ion-header>
    <ion-toolbar>
        <ion-title>catalogo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12 " size-xs="12 " size-sm="12" size-md="6 " size-lg="6">
                <ion-card>
                    <ion-toolbar>
                        <ion-button slot="end" shape="round" fill="outline" (click)="agregarProducto()">
                            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                            Nuevo Producto
                        </ion-button>

                        <ion-title>Lista de productos</ion-title>
                    </ion-toolbar>

                    <ion-card-content>
                        <ion-item>
                            <ion-searchbar (ionClear)="limpiarBuscador()" (ionChange)="Search($event)" #search placeholder="Buscar" inputmode="text" debounce="1000" animated="true" mode="ios"></ion-searchbar>
                        </ion-item>
                        <ion-list>
                            <ion-item *ngFor="let prod of listaDeProductos; let i = index">
                                <ion-avatar slot="start">
                                    <img *ngIf="prod.img" src="{{prod.img}}" alt="">
                                    <img *ngIf="!prod.img" src="../../../assets/img/pet chop.png" alt="">
                                </ion-avatar>
                                <ion-label>
                                    <h2>{{prod.nombre | titlecase}}</h2>
                                    <h3>{{prod.cantidad}} {{prod.medida}}</h3>
                                    <p *ngIf="prod.precio" class="precio">S/. {{prod.precio | number: '1.2'}}</p>
                                </ion-label>
                                <ion-buttons slot="end">
                                    <ion-button (click)="presentModalEditar(prod)">
                                        <ion-icon name="reload-outline"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                                <ion-buttons slot="end">
                                    <ion-button (click)="borrarProducto(prod)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12 " size-xs="12 " size-sm="12" size-md="6 " size-lg="6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Categorias</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-list>
                            <ion-item *ngFor="let productos of listaDeproductos">
                                <ion-avatar slot="start">
                                    <img *ngIf="productos.img" src="{{productos.img}}" alt="">
                                    <img *ngIf="!productos.img" src="../../../assets/img/pet chop.png" alt="">
                                </ion-avatar>
                                <ion-label>
                                    <h2>{{productos.nombre | titlecase}}</h2>
                                    <h3>{{productos.cantidad}} {{productos.medida}}</h3>
                                    <p *ngIf="productos.precio" class="precio">S/. {{productos.precio | number: '1.2'}}</p>



                                </ion-label>
                            </ion-item>

                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>