
* {
    ion-label {
        font-family: Nunito;
    }
}

.producto {
    .img {
        height: 100px;
        text-align: center;
        img {
            height: 100%;
            object-fit: contain;
        }
        ion-badge {
            position: absolute;
            left: 0px;
            color: white;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }
    ion-item {
        ion-label {
            font-family: Nunito;
        }
    }
}


.sinDatos {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .textoSindatos {
        text-align: center;
        padding: 10%;
        margin: 10%;
        border-radius: 10px;
        font-weight: bold;
        .icono {
            zoom: 4;
        }
    }
}

.cargando {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

//--------------
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .red{
      // color:red;
      background-color: var(--ion-color-danger);
      color: var(--ion-color-light);
  }
  .green{
      // color:green;
      background-color: var(--ion-color-success);
      color: var(--ion-color-light);
  }

  .headerListaCompra {
    background-color: var(--ion-color-primary);
  }

  .contentListaCompra {
    background-color: var(--ion-color-light);
  }

  // nuevo css
  * {
    ion-label, ion-input {
      font-family: Nunito;
    }
  }
.cardCompras {
  .numero {
    ion-label {
      color: var(--ion-color-primary);
      font-weight: bold;
      font-size: 20px;
    }
  }
  ion-item {
    --background: var(--ion-color-light);
    border-radius: 10px;
  }
}

.sinDatos {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .textoSindatos {
      text-align: center;
      padding: 10%;
      margin: 10%;
      border-radius: 10px;
      font-weight: bold;
      .icono {
          zoom: 4;
      }
  }
}

.cargando {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
//diseño lista
.headerPROD {
  text-align: center;
  background-color: var(--ion-color-primary);
}
.contentPROD {
  text-align: center;
  background-color: var(--ion-color-light);
  cursor: pointer;
}

.contentPROD:hover {
  background-color: var(--ion-color-medium);
}