<ion-header>
  <ion-toolbar>
    <ion-title color="primary">{{dataModal.evento | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
          <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="primary">
      <ion-label color="light">Registrar {{dataModal.evento | titlecase}}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="ingresoEgresoForm" autocomplete="off">
        <ion-item>
          <ion-label color="primary" position="stacked">Detalles </ion-label>
          <ion-input type="text" formControlName="detalles" placeholder="Detalles de {{dataModal.evento | titlecase}}"></ion-input>
        </ion-item>
        <div class="alertDanger" *ngIf="detalles.invalid && (detalles.dirty || detalles.touched)">
          <div class="mensajeError" *ngIf="detalles.errors.required">
            *Debe ingresar el detalle para hacer la transacción
          </div>
        </div>
        <ion-item>
          <ion-label color="primary" position="stacked">{{dataModal.evento | titlecase}}</ion-label>
          <ion-input type="text" formControlName="monto" placeholder="00.00" (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
        <div class="alertDanger" *ngIf="monto.invalid && (monto.dirty || monto.touched)">
          <div class="mensajeError" *ngIf="monto.errors.required">
            *Debe ingresar el monto para hacer la transacción
          </div>
          <div class="mensajeError" *ngIf="monto.errors.pattern">
            *Solo puede ingresar números y un punto decimal
          </div>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-button slot="end" (click)="execTransaction()" [disabled]="ingresoEgresoForm.invalid">
      <ion-label color="light">Registrar {{dataModal.evento}}</ion-label>
    </ion-button>
  </ion-item>
</ion-footer>
