ion-card {
    background: linear-gradient(to bottom right, #00E2EE, #00AFEF);
    width: 100%;
    height: 100px;
    ion-card-content {
        height: 100%;
        ion-row {
            height: 100%;
            ion-label {
                font-size: 2vh;
            }
            .descuento {
                font-size: 7.5vw;
            }
        }
    }
}

.sinDatos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .textoSindatos {
        text-align: center;
        // border: solid 2px var(--ion-color-danger);
        padding: 10%;
        margin: 10%;
        border-radius: 10px;
        font-weight: bold;
        .icono {
            zoom: 4;
        }
    }
}