.categoria {
    img {
        cursor: pointer;
        height: 100px;
        width: 100%;
        object-fit: cover;
    }
    ion-item {
        ion-label {
            font-family: Nunito;
        }
    }
}

.categoria:hover {
    transform: scale(1.02);
}

.sinDatos {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .textoSindatos {
        text-align: center;
        // border: solid 2px var(--ion-color-danger);
        padding: 10%;
        margin: 10%;
        border-radius: 10px;
        font-weight: bold;
        .icono {
            zoom: 4;
        }
    }
}

.cargando {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}