<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/lista-de-proveedores">
          New lista de proveedores
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/lista-de-clientes">
          New lista de clientes
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/lista-de-usarios">
          Lista de usuarios
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/punto-venta">
          Punto de venta
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/ingreso-egreso-gestor">
          gestor de ingreso egreso
        </ion-button>
      </ion-label>
    </ion-item>





  </ion-list>




</ion-content>
