<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon color="primary" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">
    <form [formGroup]="categoriaForm">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="0" size-sm="0" size-md="3" size-lg="3"></ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <div>
              <ion-card class="imagenes">
                <div>
                  <input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden
                    accept=".jpg, .jpeg, .png" />
                  <ion-toolbar color="primary">
                    <ion-item color="transulcent" style="text-align: center;" lines="none">
                      <ion-icon slot="end" name="camera-outline" (click)="abrirFileExplorer(fileLoader)"></ion-icon>
                      <ion-icon slot="end" name="trash-outline" (click)="removePic()"></ion-icon>
                    </ion-item>
                  </ion-toolbar>
                  <div class="fotoProducto">
                    <img (click)="abrirFileExplorer(fileLoader)" *ngIf="!imagenTargetFile" src="../../../assets/img/load_image.jpg" alt="">
                    <img (click)="abrirFileExplorer(fileLoader)" *ngIf="imagenTargetFile" [src]="imagenBin64" alt="foto">
                  </div>
                  <span *ngIf="imagenBin64">
                    <!-- <img id="checkinImage" (load)="imageLoaded()" /> -->
                  </span>
                </div>
                <!-- <div class="alertDanger" *ngIf="sinFoto">
                  <div class="mensajeError">
                    {{sinFoto}}
                  </div>
                </div> -->
              </ion-card>
            </div>
          </ion-col>
          <ion-col size-xs="0" size-sm="0" size-md="3" size-lg="3"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label color="primary" position="floating">Nombre de categoria</ion-label>
                    <ion-input maxLength="35" formControlName="categoria" placeholder="alimentos, bebidas, etc..">
                    </ion-input>
                  </ion-item>
                  <div class="alertDanger" *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">
                    <div class="mensajeError" *ngIf="categoria.errors.required">
                      Complete la categoria
                    </div>
                    <div class="mensajeError" *ngIf="categoria.errors.minlength">
                      La categoria debe tener al menos 3 caracteres.
                    </div>
                    <div class="mensajeError" *ngIf="categoria.errors.maxlength">
                      La categoria debe tener máximo 35 caracteres.
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border footer">
  <div class="alertDanger" *ngIf="mensaje">
    <div class="mensajeError">
      {{mensaje}}
    </div>
  </div>
  <ion-button (click)="guardarCatogiaV2()" expand="block">
    <ion-label color="light">Agregar Categoria</ion-label>
  </ion-button>
</ion-footer>