<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Marcas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label color="primary">Lista de marcas</ion-label>
        <ion-button slot="end" size="small" fill="outline" (click)="agregarMarca()">
          <ion-icon name="add-circle-outline" color="primary"></ion-icon> &nbsp;
          <ion-label color="primary">Agregar Marca</ion-label>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let item of listaDeMarcas; let i = index">
      <ion-card mode="ios" >
        <ion-item lines="none">
          <ion-label>{{item.nombreMarca}}</ion-label>
          <ion-button (click)="actualizarMarca(item)" size="small" slot="end" color="success" shape="outline">
            <ion-label>Editar</ion-label>
            <ion-icon slot="start" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="EliminarMarca(item)" size="small" slot="end" color="danger" shape="outline">
            <ion-label>Eliminar</ion-label>
            <ion-icon slot="start" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
