.alertDanger {
    color: rgb(255, 0, 0);
    background-color: rgb(248, 172, 172);
    border-radius: 3px;
    width: 100%;
}
.mensajeError {
    margin-left: 10px;
    font-size: 13px;
    padding: 5px;
    text-align: center;
}