<ion-header>
  <ion-toolbar>
    <ion-title>{{titleInvoker | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon color="primary" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="proveedorModalForm" autocomplete="off">
    <!-- <ion-item>
      <ion-label>RUC:* </ion-label>
      <ion-input type="text" formControlName="ruc" placeholder="RUC" (keypress)="numberOnlyValidation($event)"></ion-input>
    </ion-item>
    <div class="alertDanger" *ngIf="ruc.invalid && (ruc.dirty || ruc.touched)">
      <div class="mensajeError" *ngIf="ruc.errors.required">
        *Ingrese el RUC del proveedor
      </div>
      <div class="alertDanger" *ngIf="ruc.errors.minlength">
        *Ingrese 11 caracteres
      </div>
      <div class="alertDanger" *ngIf="ruc.errors.maxlength">
        *Ingrese más de 11 caracteres
      </div>
    </div> -->

    <ion-item>
      <ion-label color="primary">Tipo de Documento</ion-label>
      <ion-select  multiple="false" interface="popover" formControlName="tipoDocumento" (ionChange)="siRucoDni()">
        <ion-select-option value="ruc">RUC</ion-select-option>
        <ion-select-option value="dni">DNI</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Número Documento</ion-label>
      <ion-input (ionChange)="consultaSunat($event)" placeholder="Número Documento" maxlength="11" type="text" formControlName="numeroDocumento" (keypress)="numberOnlyValidation($event)"></ion-input>
      <ion-buttons slot="end">
        <ion-button>
          <ion-spinner slot="icon-only" color="primary" *ngIf="consultando" name="crescent"></ion-spinner>
          <ion-icon slot="icon-only" *ngIf="!consultando && encontrado" color="success" name="shield-checkmark"></ion-icon>
          <ion-icon slot="icon-only" *ngIf="!consultando && !encontrado" color="danger" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div class="alertDanger" *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched)">
      <div *ngIf="typoDocumento=='ruc'">
        <div class="mensajeError" *ngIf="numeroDocumento.errors.required">
          *Ingrese el Número del Documento
        </div>
        <div class="alertDanger" *ngIf="numeroDocumento.errors.minlength">
          *Ingresaste al menos 8 carácteres
        </div>
        <div class="alertDanger" *ngIf="numeroDocumento.errors.maxlength">
          *Ingrese máximo 11 caracteres
        </div>
      </div>
      <div *ngIf="typoDocumento=='dni'">
        <div class="mensajeError" *ngIf="numeroDocumento.errors.required">
          *Ingrese el Número del Documento
        </div>
        <div class="alertDanger" *ngIf="numeroDocumento.errors.minlength">
          *Ingresaste al menos 8 carácteres
        </div>
        <div class="alertDanger" *ngIf="numeroDocumento.errors.maxlength">
          *Ingrese máximo 11 caracteres
        </div>
      </div>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Nombre</ion-label>
      <ion-input value="{{this.proveedorModalForm.value.nombre}}" type="text"  formControlName="nombre" placeholder="Persona o Empresa"></ion-input>
    </ion-item>
    <div class="alertDanger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
      <div class="mensajeError" *ngIf="nombre.errors.required">
        *Complete el nombre del proveedor
      </div>
      <div class="mensajeError" *ngIf="!nombre.errors.required && !nombre.errors.minLength">
        *Ingrese mínimo 3 caracteres
      </div>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Teléfono / Celular</ion-label>
      <ion-input type="text" (keypress)="numberOnlyValidation($event)" formControlName="telefono" placeholder="Teléfono o Celular"></ion-input>
    </ion-item>
    <div class="alertDanger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
      <div class="mensajeError" *ngIf="telefono.errors.required">
        *Ingrese el número de teléfono o celular del proveedor
      </div>
      <div class="mensajeError" *ngIf="telefono.errors.minlength">
        *Ingrese mínimo 6 caracteres
      </div>
      <div class="mensajeError" *ngIf="telefono.errors.maxlength">
        *Teléfono invalido, más de 9 caracteres
      </div>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Dirección</ion-label>
      <ion-input value="{{this.proveedorModalForm.value.direccion}}" type="text" formControlName="direccion" placeholder="Dirección"></ion-input>
    </ion-item>
    <div class="alertDanger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
      <div class="mensajeError" *ngIf="direccion.errors.required">
        *Ingrese la dirección del proveedor
      </div>
      <div class="alertDanger" *ngIf="direccion.errors.minlength">
        *Ingrese mínimo 3 caracteres
      </div>
    </div>


    <ion-item>
      <ion-label color="primary" position="floating">E-mail</ion-label>
      <ion-input type="text" formControlName="email" placeholder="email@company.com"></ion-input>
    </ion-item>
    <div class="alertDanger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div class="mensajeError" *ngIf="email.errors.required">
        *Ingrese el correo electrónico del proveedor
      </div>
      <div class="alertDanger" *ngIf="email.errors.pattern">
        *email invalido: email@company.com
      </div>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-button slot="end" size="small" (click)="execFun()" [disabled]="proveedorModalForm.invalid">
      <ion-label color="light">{{tagInvoker}}</ion-label>
    </ion-button>
  </ion-item>
</ion-footer>
