ion-label{
    font-size: 13px;
}

.header {
    // background-color: var(--ion-color-secondary);
    // font-weight: bold;
    text-align: center;
    background-color: var(--ion-color-primary);
}
.botones{
    width:105px; height:25px;
    font-size: 10px;
}

.containerComprobante {
    margin: 0px;
    padding: 0px;
    width: 350mm;
    height: auto;
    h1 {
        text-align: center;
        }
        #pdf {
        border: solid 3px #000;
        margin: 0;
        text-align: justify;
        p {
            font-size: 6px;
        }
        }
}