<ion-header>
  <ion-toolbar>
    <ion-title>Lista de proveedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row color="primary">
      <ion-list-header lines="inset" color="primary">
      <ion-col size="0.5"> <ion-label>#</ion-label></ion-col>
      <ion-col size="2"><ion-label>proveedor</ion-label></ion-col>
      <ion-col size="2"><ion-label>comprobante</ion-label></ion-col>
      <ion-col size="1.5"><ion-label>numero</ion-label></ion-col>
      <ion-col size="1.5"><ion-label>fecha Emision</ion-label></ion-col>
      <ion-col size="1.5"><ion-label>IGV</ion-label></ion-col>
      <ion-col size="1.5"><ion-label>totalxCompra</ion-label></ion-col>
      </ion-list-header>
    </ion-row>
    <ion-row *ngFor="let compra of listaDeCompras; let i = index" [class]="compra.anulado?'red':''">
      <ion-col size="0.5"><ion-label>{{i+1}}</ion-label></ion-col>
      <ion-col size="2"><ion-label>{{compra.proveedor.nombre}}</ion-label></ion-col>
      <ion-col size="2"><ion-label>{{compra.typoComprobante}}</ion-label></ion-col>
      <ion-col size="1.5"><ion-label>{{compra.serieComprobante}}</ion-label></ion-col>
      <ion-col size="1.5"><ion-label>{{compra.fechaDeEmision | date:'dd-MM-yyyy'}}</ion-label></ion-col>
      <ion-col size="1.5"><ion-label>{{compra.IGV_compra | number:'1.2'}}</ion-label></ion-col>
      <ion-col size="1.5"><ion-label>{{compra.totalxCompra | number: '1.2'}}</ion-label></ion-col>
      <ion-col size="0.5">
        <ion-buttons>
          <ion-button (click)="abrirModalMostrarDetalles(compra)">
            <ion-icon name="caret-down-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="0.5">
        <ion-buttons>
          <ion-button (click)="EditarCompra()" routerLink="/compras">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="0.5">
        <ion-buttons>
          <ion-button (click)="bloquearCompra(compra)">
            <ion-icon name="ban-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  
</ion-content>
