
* {
    ion-label {
        font-family: Nunito;
    }
}
ion-input {
    border-radius: 5px;
    // width: 50px;
    border: 1px gray solid;
}

.inputWhatsapp {
    text-align: center;
}

.gridGeneral {
    padding: 0px;
    margin: 0px;
    ion-row {
        padding: 0px;
        margin: 0px;
        ion-col {
            padding: 0px;
            margin: 0px;       
        }
    }

    .productosComprar {
        height: 70%;
    }
}
// // ion-row {
// //     padding: 0px;
// //     ion-col {
// //         padding: 0px;
// //     }
// // }

.boton-superior{
    border-radius: 5px;
    // width: 50px;
    border: 1px gray solid;
}

.boton-superior:hover{
    border: 3px gray solid;
}

.detallesVenta {
    background-color: var(--ion-color-light);
}

.notaVenta {
    --background: #ffffffff;
    --background-hover: white;
    cursor: default;
}

