<ion-header>
  <ion-toolbar>
    <ion-title>confirmar-venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="5" size-md="5" size-sm="12" size-xs="12">
        <ion-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>0000 0000 - CLIENTE</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let itemDeventa of venta.listaItemsDeVenta;let i = index">
              <ion-col size="0.5">{{i+1}}</ion-col>
              <ion-col size="5">{{itemDeventa.producto.nombre | titlecase}}</ion-col>
              <ion-col size="2">{{itemDeventa.cantidad}}</ion-col>
              <ion-col size="2">S/. {{itemDeventa.tatalxprod | number: '1.2'}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
        <!-- <ion-item>
          <ion-item>
              <ion-label>n</ion-label>
              <ion-label>avena 3 ositos</ion-label>
              <ion-label>S/. 0.95</ion-label>
          </ion-item>
        </ion-item> -->
        <ion-item>
          <ion-label>Subtotal: {{subTotalDeVenta | number: '0.00'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>IGV: {{IGVdeVenta | number: '0.00'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Total: {{totalAPagar | number: '0.00'}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-lg="7" size-md="7" size-sm="12" size-xs="12">
        <ion-grid>
          <ion-row>
            <ion-col size="2" >
              <ion-item lines="none" class="boton-superior" (click)="SeleccionarComprobante('FACTURA')" [color]="tipoComprobante=='FACTURA'?'primary':''">
                <ion-label>FACTURA</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2" >
              <ion-item lines="none" class="boton-superior" (click)="SeleccionarComprobante('BOLETA')" [color]="tipoComprobante=='BOLETA'?'primary':''">
                <ion-label>BOLETA</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2" >
              <ion-item lines="none" class="boton-superior" (click)="SeleccionarComprobante('N.VENTA')" [color]="tipoComprobante=='N.VENTA'?'primary':''">
                <ion-label>NOTA DE VENTA</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2" >
            </ion-col>
            <ion-col size="2" >
              <ion-item lines="none" >
                <ion-label>{{serieComprobante}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2" >
              <ion-item lines="none" >
                <ion-button routerLink="/punto-venta">
                  Regresar
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid>

        <!-- <ion-item>
          <ion-item>
            <ion-label>FACTURA</ion-label>
            <ion-label>BOLETA</ion-label>
            <ion-label>NOTA DE VENTA</ion-label>
          </ion-item>
        </ion-item> -->


        <ion-card style="text-align: center;">
          <ion-card-header>
            <ion-card-subtitle>TOTAL</ion-card-subtitle>
            <ion-card-title>{{totalAPagar | number: '0.00'}}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card style="text-align:center" >
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <form [formGroup]="formPago">
                  <ion-card-subtitle>Monto a Descuento</ion-card-subtitle>
                  <ion-card-title>
                    <ion-input type="text" formControlName="descuento" placeholder="00.00" (keyup)="realizarDescuento()"></ion-input>
                  </ion-card-title>
                  <div class="alertDanger" *ngIf="descuento.invalid && (descuento.dirty || descuento.touched)">
                    <div class="mensajeError" *ngIf="descuento.errors.pattern">
                      *solo ingrese numeros
                    </div>
                  </div>
                </form>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">

                <ion-card-subtitle>Total con descuento</ion-card-subtitle>
                <ion-card-title> {{totalconDescuento | number: '0.00'}}</ion-card-title>
                <!-- <ion-card-title *ngIf="!(vuelto>=0)" style="color:red"> Falta: {{vuelto | number: '0.00'}}</ion-card-title> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- <form [formGroup]="formPago">
            <ion-card-subtitle>Ingrese Monto</ion-card-subtitle>
            <ion-card-title>
              <ion-input type="text" formControlName="descuento" placeholder="00.00" (keyup)="realizarDescuento()"></ion-input>
            </ion-card-title>
            <div class="alertDanger" *ngIf="descuento.invalid && (descuento.dirty || descuento.touched)">
              <div class="mensajeError" *ngIf="descuento.errors.required">
                *Ingrese monto a descontar
              </div>
              <div class="mensajeError" *ngIf="descuento.errors.pattern">
                *solo ingrese numeros
              </div>
            </div>
          </form> -->
          <!-- <ion-card-header>
            <ion-card-subtitle>Descuento</ion-card-subtitle>
            <ion-card-title>S/. 2.45</ion-card-title>
          </ion-card-header> -->
        </ion-card>

        <ion-card style="text-align:center" >
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <form [formGroup]="formPago">
                  <ion-card-subtitle>Ingrese Monto</ion-card-subtitle>
                  <ion-card-title>
                    <ion-input type="text" formControlName="montoIngreso" placeholder="00.00" (keyup)="calcularVuelto()"></ion-input>
                  </ion-card-title>
                  <div class="alertDanger" *ngIf="montoIngreso.invalid && (montoIngreso.dirty || montoIngreso.touched)">
                    <div class="mensajeError" *ngIf="montoIngreso.errors.required">
                      *Ingrese monto a pagar
                    </div>
                    <div class="mensajeError" *ngIf="montoIngreso.errors.pattern">
                      *solo ingrese numeros
                    </div>
                  </div>
                </form>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">

                <ion-card-subtitle>Vuelto</ion-card-subtitle>
                <ion-card-title *ngIf="vuelto>=0">Vuelto: {{vuelto | number: '0.00'}}</ion-card-title>
                <ion-card-title *ngIf="0>vuelto" style="color:red"> Falta: {{vuelto | number: '0.00'}}</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row class='row-buttons'>
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="2">
                          <ion-button (click)="sumarAMontoEntrante(10)">
                            S/. 10
                          </ion-button>
                        </ion-col>
                        <ion-col size="2">
                          <ion-button (click)="sumarAMontoEntrante(20)">
                            S/. 20
                          </ion-button>
                        </ion-col>
                        <ion-col size="2">
                          <ion-button (click)="sumarAMontoEntrante(50)">
                            S/. 50
                          </ion-button>
                        </ion-col>
                        <ion-col size="2">
                          <ion-button (click)="sumarAMontoEntrante(100)">
                            S/. 100
                          </ion-button>
                        </ion-col>
                        <ion-col size="2">
                          <ion-button (click)="ponerMontoExacto()">
                            exacto
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-content>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>


        <ion-card style="text-align:center" >
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-button [disabled]="0>vuelto" (click)="generarPago()" routerLink="/punto-venta/true">
                  Pagar
                </ion-button>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-button (click)="cancelarVenta()" routerLink="/punto-venta/true">
                  Cancelar Venta
                </ion-button>
              </ion-col>
            </ion-row>
           </ion-grid>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
