<ion-header>
  <ion-toolbar>
    <ion-title>venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <div class="divtest">
          cuadro 1 <br>
          <form autocomplete="off">

            <ion-item>
              <ion-label>Nombre:* </ion-label>
              <ion-input type="text" placeholder="(Persona o Empresa):" autocapitalice="on"></ion-input>
            </ion-item>
            <!-- <div class="alertDanger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div class="mensajeError" *ngIf="nombre.errors.required">
                *Complete el nombre del proveedor
              </div>
              <div class="mensajeError" *ngIf="!nombre.errors.required && !nombre.errors.minLength">
                *Ingrese mínimo 3 caracteres
              </div>
            </div> -->

            <ion-item>
              <!-- <ion-input type="text" autocomplete='off' autocorrect='off' autocapitalize='off' ></ion-input> -->
              <ion-input autocapitalize=words type="text" placeholder="Enter client's name"></ion-input>
            </ion-item>

          </form>

        </div>
      </ion-col>
      <ion-col size="6">
        <div class="divtest">
          cuadro 2
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="divtest">
          cuadro 3
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="divtest">
          cuadro 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
