<ion-header>
  <ion-toolbar>
    <ion-title>{{titleInvoker | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salirDeModal()">
        <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">
      <form [formGroup]="usuarioModalForm" autocomplete="off">
        <ion-item>
          <ion-label color="primary" position="floating">Nombres</ion-label>
          <ion-input maxlength="40" type="text" formControlName="nombre" placeholder="Nombre del usuario" class="capital" (keypress)="stringOnlyValidation($event)"></ion-input>
        </ion-item>
        <div class="alertDanger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div class="mensajeError" *ngIf="nombre.errors.required">
            *Complete su nombre
          </div>
          <div class="mensajeError" *ngIf="nombre.errors.pattern">
            *No puede ingresar números en su nombre
          </div>
          <div #elseBlock class="mensajeError" *ngIf="nombre.errors.minlength">
            *Ingrese mínimo 3 caracteres
          </div>
          <div class="mensajeError" *ngIf="nombre.errors.maxlength">
            *Ingrese solo 40 caracteres como máximo
          </div>
        </div>
    
        <ion-item>
          <ion-label color="primary" position="floating">Apellidos</ion-label>
          <ion-input maxlength="60" type="text" formControlName="apellidos" placeholder="Apellidos del usuario" (keypress)="stringOnlyValidation($event)"></ion-input>
        </ion-item>
        <div class="alertDanger" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
          <div class="mensajeError" *ngIf="apellidos.errors.required">
            *Complete sus apellidos
          </div>
          <div class="mensajeError" *ngIf="apellidos.errors.minlength">
            *Ingrese mínimo 3 caracteres
          </div>
          <div class="mensajeError" *ngIf="apellidos.errors.pattern">
            *No puede ingresar números en sus Apellidos
          </div>
          <div class="mensajeError" *ngIf="apellidos.errors.maxlength">
            *Ingrese solo 60 caracteres como máximo
          </div>
        </div>
    
        <ion-item>
          <ion-label color="primary" position="floating">DNI</ion-label>
          <ion-input maxlength="8" type="text" (keypress)="numberOnlyValidation($event)" formControlName="dni" placeholder="DNI del usuario"></ion-input>
        </ion-item>
        <div class="alertDanger" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
          <div class="mensajeError" *ngIf="dni.errors.required">
            *Complete su DNI
          </div>
          <div class="mensajeError" *ngIf="dni.errors.minlength">
            *Ingrese 8 dígitos
          </div>
          <div class="mensajeError" *ngIf="dni.errors.maxlength">
            *Ingrese solo 8 dígitos
          </div>
        </div>
    
        <ion-item>
          <ion-label color="primary" position="floating">Correo</ion-label>
          <ion-input maxlength="50" type="text" formControlName="correo" placeholder="Correo de usuario"></ion-input>
        </ion-item>
        <div class="alertDanger"*ngIf="correo.invalid && (correo.dirty || correo.touched)">
          <div class="mensajeError" *ngIf="correo.errors.required">
            *Complete el correo del usuario
          </div>
          <div class="mensajeError" *ngIf="!!correo.errors.pattern">
            <span>* Ingrese un correo válido</span><br>
          </div>
          <div class="mensajeError" *ngIf="!!correo.errors.minlength">
            <span>* Ingrese la menos 8 caracteres</span><br>
          </div>
        </div>   
        <ion-item>
          <ion-label color="primary" position="floating">Contraseña</ion-label>
          <ion-input maxlength="24" #passwordEyeRegister  [type]="passwordTypeInput" formControlName="password"
           placeholder="Contraseña" clearOnEdit="false">
          </ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="togglePasswordMode()">
              <ion-icon slot="icon-only"  [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <div class="alertDanger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div class="mensajeError" *ngIf="password.errors.required">
            *Complete su contraseña
          </div>
          <div class="mensajeError" *ngIf="password.errors.minlength">
            *Ingrese mínimo 6 caracteres
          </div>
        </div>
        <ion-item>
          <ion-label color="primary">Rol</ion-label>
          <ion-select formControlName="rol" value="admin" mode="ios" interface="popover">
            <ion-select-option value="Administrador">Administrador</ion-select-option>
            <ion-select-option value="Vendedor">Vendedor</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="alertDanger" *ngIf="rol.invalid && (rol.dirty || rol.touched)">
          <div class="mensajeError" *ngIf="rol.errors.required">
            *Debe seleccionar un rol
          </div>
        </div>
      </form>
    </div>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-button  slot="end" (click)="execFun()" [disabled]="usuarioModalForm.invalid">
      <ion-label color="light">{{tagInvoker}}</ion-label>
    </ion-button>
  </ion-item>
</ion-footer>
