@font-face{
    font-family: Nunito;
    src : url('../assets/fonts/nunito.woff2')
}

* {
    ion-label {
        font-family: Nunito;
    }
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
 
 ion-header {
    // height: 25%;
    background: linear-gradient(to bottom right, #00E2EE, #00AFEF); 
     // url('https://image.freepik.com/vector-gratis/ilustracion-vegetales-frutas-patrones-fisuras_123207-212.jpg')!important;
     object-fit: cover;
 }
 ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
 .menuHeader {
     display:table;
     height:100%; 
     width:100%; 
     text-align: center;
     padding: 5%;
    //  background-image:   linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3));
     img {
         margin-top: 5%;
         height: 14%;
         object-fit: contain;
         object-position: center center;
         border-radius: 50%;
         border: solid 3px #474747;
     }
     .datosNegocio {
         display: table-cell;
         vertical-align:middle;
         hr {
             height:  2px;
             width: 70%;
             background-color: #201e1e;
         }
         .tienda {
             font-size: 18px;
             color: white;
             font-weight: bold;
         }
         
     }
 }
 
 
 .NOseleccionado {
    //  color:black;
     font-size: 16px;
     transition: color 2s, font-size 0.4s;
 }
 .seleccionado {
     // color: var(--ion-color-primary);
     font-size: 16px;
     transition: color 2ms, font-size 0.2s;
     --ion-item-background: var(--ion-color-light);
 }

.active {
    --ion-text-color: var(--ion-color-primary);
    --ion-item-background: var(--ion-color-light);
    ion-icon{
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}
.active-parent{
    cursor: pointer;
}
.desactive-parent {
    cursor: pointer;
}
.desactive-parent:hover {
    --ion-item-background: var(--ion-color-light);
}

.active-parent:hover {
    --ion-item-background: var(--ion-color-light);
}
.subItem {
    padding-left: 2.5em;
}

.cerrarSesion {
    cursor: pointer;
}

.cerrarSesion:hover {
    --ion-item-background: var(--ion-color-light);
}
