ion-input {
    //width: 50px;
    border: 2px gray solid;
}

// ion-label{
//     width: 60px;
// }

// .padre{
//     width: 100%;
//     background-color: aquamarine;
//     border: solid 1px coral;
// }

.divtest{
    background-color: aqua;
}

.testRows{
    background-color: coral;
    border: 1px black solid;
}