<p>
  <!-- item-venta works!
  {{title}} {{saludo}} -->
  BETO
  {{prod.nombre}}
</p>

<!-- <ion-item >
  <ion-label> -->
    <!-- <input type="number" placeholder="cantidad" [value]="prodItem.cantidad" (keypress)="inputModief($event, prodItem)" (keypress)="logForm(this.value)"> -->
  <!-- </ion-label>

  <ion-label>{{producto.nombre}}</ion-label>
  <ion-label>{{producto.prec_unit}}</ion-label>
  <ion-label>
    <ion-button (click)="quitarProducto(prodItem)">
      quitar
    </ion-button>
  </ion-label>

</ion-item> -->

<ion-item>
  <form [formGroup]="formVenta" autocomplete="off">

    <ion-item>
      <ion-input type="text" formControlName="cantidad" placeholder="nombres" [value]="prod.cantidad" maxlength="5" (keyup)="cambioCantidad()"></ion-input>
    </ion-item>
    <div class="alertDanger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
      <div class="mensajeError" *ngIf="cantidad.errors.required">
        *Complete la cantidad
      </div>
    </div>
  </form>

  <ion-label>{{prod.producto.nombre}}</ion-label>
  <ion-label>{{prod.producto.prec_unit}}</ion-label>
  <ion-label>{{prod.tatalxprod}}</ion-label>

  <!-- <ion-button (click)="quitarProducto(prodItem)" slot="end">
    quitar
  </ion-button> -->
</ion-item>
