<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-button routerLink="/registrar-proveedor">
          registrar-proveedor
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/registrar-usuario">
          registrar-usuario
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/registrar-cliente">
          registrar-cliente
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/venta">
          venta
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/ingreso-egreso">
          ingreso-egreso
        </ion-button>
      </ion-label>
    </ion-item>

  </ion-list>



</ion-content>
