<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModalAgregarVerTips(null)" routerDirection="root">
          <ion-icon color="light" name="chevron-up-outline"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  <div class="sinDatos" *ngIf="sinDatos===true">
    <div class="textoSindatos">
      <ion-icon class="icono" name="paw-outline" color="medium"></ion-icon> <br><br>
      <ion-label color="medium">No tienes tips agregados</ion-label>
    </div>
  </div>
  <div class="cargando" *ngIf="(sinDatos===undefined)">
    <ion-grid>
      <ion-row>
          <ion-col size="12" size-xs="6" size-sm="6" size-md="6" size-lg="6"  *ngFor="let number of [0,1,2,3,4,5]">
              <ion-card>
                  <ion-skeleton-text animated style="width: 100%; height: 150px; border-radius: 10px;"></ion-skeleton-text>
                  <ion-card-header style="text-align: center;">
                      <ion-skeleton-text animated style="width: 100%; text-align: center;"></ion-skeleton-text>
                  </ion-card-header>
              </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
      <ion-grid>
          <ion-row>
              <ion-col size="12" size-xs="6" size-sm="6" size-md="6" size-lg="6" *ngFor="let item of listaTips">
                  <ion-card class="cardTips" (click)="presentModalAgregarVerTips(item)">
                      <img *ngIf="item.foto"src="{{ item.foto }}">
                      <img *ngIf="!item.foto"src="../../../assets/img/tips.png">
                      <ion-card-header style="text-align: center;">
                          <ion-card-subtitle color="dark">{{ item.titulo | titlecase}}</ion-card-subtitle>
                      </ion-card-header>
                  </ion-card>
              </ion-col>
          </ion-row>
      </ion-grid>
  </div>
</ion-content>
