<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon color="primary" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Nuevo Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="productoForm">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="3">
          <ion-card class="imagenes">
            <div class="fotoProducto">
              <input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden
                accept=".jpg, .jpeg, .png" />
              <!-- <ion-toolbar color="primary">
                <ion-item color="transulcent" style="text-align: center;" lines="none">
                  <ion-icon slot="end" name="camera-outline" (click)="presentActionSheet(fileLoader)"></ion-icon>
                  <ion-icon slot="end" name="trash-outline" (click)="removePic()"></ion-icon>
                  <div style="width: 100%; text-align: center;">
                  </div>
                </ion-item>
              </ion-toolbar> -->
              <img (click)="abrirFileExplorer(fileLoader)" *ngIf="!imagenTargetFile" src="../../../assets/img/load_image.jpg" alt="">
              <img (click)="abrirFileExplorer(fileLoader)" *ngIf="imagenTargetFile" [src]="imagenBin64" alt="foto">
              <!-- <span *ngIf="uploadImage != null">
                <img id="checkinImage" (load)="imageLoaded()" />
              </span> -->
              <ion-item lines="none">
                <ion-button fill="outline" size="small" color="success" (click)="abrirFileExplorer(fileLoader)">
                  <ion-icon name="image-outline"></ion-icon>&nbsp; Cambiar
                </ion-button>
                <ion-button fill="outline" size="small" color="danger" (click)="removePic()">
                  <ion-icon name="trash-outline"></ion-icon>&nbsp; Eliminar
                </ion-button>
              </ion-item>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="9">
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Nombre del producto o servicio (*)</ion-label>
                <ion-input maxLength="60" formControlName="nombre" class="nombre" placeholder="Ingrese nombre"></ion-input>
              </ion-item>
              <div class="alertDanger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div class="mensajeError" *ngIf="nombre.errors.required">
                  Complete el nombre
                </div>
                <div class="mensajeError" *ngIf="nombre.errors.minlength">
                  El nombre debe tener al menos 3 caracteres.
                </div>
                <div class="mensajeError" *ngIf="nombre.errors.maxlength">
                  El nombre debe tener máximo 60 caracteres.
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Cantidad (*)</ion-label>
                <ion-input formControlName="cantidad" type="number" placeholder="Ingrese cantidad" (keypress)="decimalOnlyValidation($event)"></ion-input>
              </ion-item>
              <div class="alertDanger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
                <div class="mensajeError" *ngIf="cantidad.errors.required">
                  Complete la cantidad: 00.00
                </div>
                <div class="mensajeError" *ngIf="cantidad.errors.pattern">
                  Debe ser formato decimal: 00.00
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label color="primary" position="stacked">Unidad de medida (*)</ion-label>
                <ion-select [interfaceOptions]="{cssClass: 'ionSelects'}" class="custom-options" interface="popover" formControlName="medida" placeholder="medida"
                  cancelText="Cancelar" okText="Aceptar" mode="ios">
                  <ion-select-option *ngFor="let med of medidas" [value]="med.nombre">{{med.tag | titlecase}}</ion-select-option>
                </ion-select>
              </ion-item>
              <div class="alertDanger" *ngIf="medida.invalid && (medida.dirty || medida.touched)">
                <div class="mensajeError" *ngIf="medida.errors.required">
                  Complete la medida
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label color="primary" position="stacked">Categoria (*)</ion-label>
                <ion-select [interfaceOptions]="{cssClass: 'ionSelects'}" class="custom-options" [value]="listaDeCategorias.length ? listaDeCategorias[0].categoria : 'no hay categorias'" interface="popover"
                  formControlName="subCategoria" placeholder="categorias" cancelText="Cancelar" okText="Aceptar"
                  mode="ios">
                  <ion-select-option *ngFor="let item of listaDeCategorias" [value]="item.categoria">
                    {{item.categoria}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="alertDanger" *ngIf="subCategoria.invalid && (subCategoria.dirty || subCategoria.touched)">
                <div class="mensajeError" *ngIf="subCategoria.errors.required">
                  Complete la categorias
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Precio (*)</ion-label>
                <ion-input formControlName="precio" type="number" placeholder="Ingrese precio del producto" (keypress)="decimalOnlyValidation($event)" >
                </ion-input>
              </ion-item>
              <div class="alertDanger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                <div class="mensajeError" *ngIf="precio.errors.required">
                  Complete el precio: 00.00
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Cantidad de stock:</ion-label>
                <ion-input formControlName="cantStock" type="number" placeholder="Ingrese la cantidad de Stock" (keypress)="decimalOnlyValidation($event)">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="6">
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Ingrese el codigo</ion-label>
                <ion-input maxLength="20" formControlName="codigo" class="marca" placeholder="Ingrese codigo del producto">
                </ion-input>
              </ion-item>
              <div class="alertDanger" *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)">
                <div class="mensajeError" *ngIf="codigo.errors.minlength">
                  <!-- NOTE - ESTA LINEA JAMÁS SE ACTIVA -->
                  El codigo debe tener al menos 3 caracteres.
                </div>
                <div class="mensajeError" *ngIf="codigo.errors.maxlength">
                  Escribió más de 20 caracteres.
                </div>
              </div>
            </ion-col>
            <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="6">
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Ingrese la codigo de barras</ion-label>
                <ion-input maxLength="15" formControlName="codigoBarra" placeholder="Ingrese codigo de barras"></ion-input>
              </ion-item>
              <div class="alertDanger" *ngIf="codigoBarra.invalid && (codigoBarra.dirty || codigoBarra.touched)">
                <div class="mensajeError" *ngIf="codigoBarra.errors.minlength">
                  El codigo de barras debe tener al menos 3 caracteres.
                </div>
                <div class="mensajeError" *ngIf="codigoBarra.errors.maxlength">
                  El codigo de barras debe tener máximo 15 caracteres.
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" sz-md="6" size-sm="12" size-xs="12">
          <ion-item-divider>Datos extra
            <ion-buttons slot="end">
              <ion-button>
                <ion-icon slot="icon-only" color="medium" name="chevron-down-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item-divider>
          <ion-col size="12 " size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-item lines="none">
              <ion-label color="primary" position="stacked">Fecha de vencimiento:</ion-label>
              <ion-input type="date" formControlName="fechaDeVencimiento" class="form-control"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12 " size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-item lines="none">
              <ion-label color="primary" position="floating">Ingrese la marca</ion-label>
              <ion-input maxLength="35" type="text" formControlName="marca" placeholder="Ingrese marca del producto" ></ion-input>
            </ion-item>
            <div class="alertDanger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
              <div class="mensajeError" *ngIf="marca.errors.minlength">
                El marca debe tener al menos 3 caracteres.
              </div>
              <div class="mensajeError" *ngIf="marca.errors.maxlength">
                El marca debe tener máximo 35 caracteres.
              </div>
            </div>
          </ion-col>
          <ion-col size="12 " size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-item lines="none">
              <ion-label color="primary" position="stacked">Descripción</ion-label>
              <ion-textarea rows="5" cols="20" formControlName="descripcionProducto"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-col>
        <ion-col size-lg="6" sz-md="6" size-sm="12" size-xs="12">
          <ion-item-divider>Variantes del producto
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" color="medium" name="chevron-down-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item-divider>
        <ion-col>
          <ion-row>
            <ion-col size="3.5">
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Medida</ion-label>
                <ion-input #medidaVariante maxLength="20" placeholder="Medida"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3.5">
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Factor</ion-label>
                <ion-input #factorVariante type="number" placeholder="Factor" (keypress)="decimalOnlyValidation($event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3.5">
              <ion-item lines="none">
                <ion-label color="primary" position="floating">Precio</ion-label >
                <ion-input #precioVariante type="number" placeholder="Precio" (keypress)="decimalOnlyValidation($event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="1.5">
              <ion-button style="height: 100%;" (click)="agregarVariante(medidaVariante, factorVariante, precioVariante)" color="success">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-row class="ion-justify-content-center ion-align-items-center cabecera">
                <ion-col class="ion-text-center" size="4">Medida</ion-col>
                <ion-col class="ion-text-center" size="4">Factor</ion-col>
                <ion-col class="ion-text-center" size="3">Precio</ion-col>
                <ion-col class="ion-text-center" size="1"></ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-center ion-align-items-center cuerpo" *ngFor="let item of listaDeVariantes">
                <ion-col class="ion-text-center" size="4">{{item.medida | titlecase}}</ion-col>
                <ion-col class="ion-text-center" size="4">{{item.factor}}</ion-col>
                <ion-col class="ion-text-center" size="3">{{item.precio}}</ion-col>
                <ion-col class="ion-text-center" size="1">
                  <ion-buttons>
                    <ion-button (click)="quitarVariante(item)">
                      <ion-icon color="danger" name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer class="ion-no-border footer">
  <div class="alertDanger" *ngIf="mensaje">
    <div class="mensajeError">
      {{mensaje}}
    </div>
  </div>
  <ion-button (click)="guardarProducto()" shape="round" expand="block">
    <ion-icon slot="icon-only" color="light" name="add-circle-outline"></ion-icon> &nbsp;
    <ion-label color="light">Agregar Producto</ion-label>
  </ion-button>


  <!-- <ion-item>
    <ion-label>Awesome Label</ion-label>
    <input type="file" (change)="mostrarVentanaDeDialog($event)" title="Load File"accept=".jpg, .jpeg, .png" />
  </ion-item>
  <ion-item>
    <ion-label>Awesome Label</ion-label>
    <ion-button (click)="botonTestGuardar()" >
      subir Imagen
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="starToRedimension()" >
      redimensionarImagen
    </ion-button>
  </ion-item>
  <div class="imagen-prueba">
    <img [src]="imagenBin64" >
  </div> -->

</ion-footer>
