<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon color="primary" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Nuevo Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="productoForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="3">
          <div style="display: flex; justify-content: center; align-items: center;">
            <ion-card class="imagenes">
              <div style="height:220px;">
                <input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden
                  accept=".jpg, .jpeg, .png" />
                <ion-toolbar color="primary">
                  <ion-item color="transulcent" style="text-align: center;" lines="none">
                    <ion-icon slot="end" name="camera-outline" (click)="presentActionSheet(fileLoader)"></ion-icon>
                    <ion-icon slot="end" name="trash-outline" (click)="removePic()"></ion-icon>
                    <div style="width: 100%; text-align: center;">
                    </div>
                  </ion-item>
                </ion-toolbar>
                <div class="fotoProducto">
                  <img (click)="presentActionSheet(fileLoader)" *ngIf="!image" src="../../../assets/fondoImg.jpg"
                    alt="">
                  <img (click)="presentActionSheet(fileLoader)" *ngIf="image" [src]="uploadImage" alt="foto">
                </div>
                <span *ngIf="uploadImage != null">
                  <img id="checkinImage" (load)="imageLoaded()" />
                </span>
              </div>
              <div class="alertDanger" *ngIf="sinFoto">
                <div class="mensajeError">
                  {{sinFoto}}
                </div>
              </div>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="9">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label color="primary" position="floating">Nombre del producto o servicio (*)</ion-label>
                  <ion-input maxLength="60" formControlName="nombre" class="nombre" placeholder="Ingrese nombre">
                  </ion-input>
                </ion-item>
                <div class="alertDanger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                  <div class="mensajeError" *ngIf="!!nombre.errors.required">
                    Complete el nombre
                  </div>
                  <div class="mensajeError" *ngIf="!!nombre.errors.minlength">
                    El nombre debe tener al menos 2 caracteres.
                  </div>
                  <div class="mensajeError" *ngIf="!!nombre.errors.maxlength">
                    El nombre debe tener máximo 60 caracteres.
                  </div>
                </div>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label color="primary" position="floating">Precio (*)</ion-label>
                  <ion-input formControlName="precio" type="number" placeholder="Ingrese precio del producto">
                  </ion-input>
                </ion-item>
                <div class="alertDanger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                  <div class="mensajeError" *ngIf="!!precio.errors.required">
                    Complete el precio
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label color="primary" position="stacked">Categoria (*)</ion-label>
                  <ion-select class="custom-options" [value]="listaDeCategorias.length ? listaDeCategorias[0].categoria : 'no hay categorias'" interface="popover"
                    formControlName="subCategoria" placeholder="categorias" cancelText="Cancelar" okText="Aceptar"
                    mode="ios">
                    <ion-select-option *ngFor="let item of listaDeCategorias" [value]="item.categoria">
                      {{item.categoria}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="alertDanger" *ngIf="subCategoria.invalid && (subCategoria.dirty || subCategoria.touched)">
                  <div class="mensajeError" *ngIf="!!subCategoria.errors.required">
                    Complete la categorias
                  </div>
                </div>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label color="primary" position="stacked">Medida (*)</ion-label>
                  <ion-select class="custom-options" interface="popover" formControlName="medida" placeholder="medida"
                    cancelText="Cancelar" okText="Aceptar" mode="ios">
                    <ion-select-option *ngFor="let med of medidas" [value]="med.nombre">{{med.tag | titlecase}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="alertDanger" *ngIf="medida.invalid && (medida.dirty || medida.touched)">
                  <div class="mensajeError" *ngIf="!!medida.errors.required">
                    Complete la medida
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label color="primary" position="floating">Cantidad (*)</ion-label>
                  <ion-input formControlName="cantidad" type="number" placeholder="Ingrese cantidad"></ion-input>
                </ion-item>
                <div class="alertDanger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
                  <div class="mensajeError" *ngIf="!!cantidad.errors.required">
                    Complete la cantidad
                  </div>
                  <div class="mensajeError" *ngIf="!!cantidad.errors.min">
                    La cantidad minima es 1
                  </div>
                </div>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label color="primary" position="floating">Cantidad de stock:</ion-label>
                  <ion-input formControlName="cantStock" type="number" placeholder="Ingrese la cantidad de Stock">
                  </ion-input>
                </ion-item>
                <div class="alertDanger" *ngIf="cantStock.invalid && (cantStock.dirty || cantStock.touched)">
                  <div class="mensajeError" *ngIf="!!cantStock.errors.required">
                    Ingrese la cantidad de stock
                  </div>
                  <div class="mensajeError" *ngIf="!!cantStock.errors.min">
                    La cantidad minima en stock es 1
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item lines="none">
            <ion-label color="primary" position="floating">Ingrese el codigo</ion-label>
            <ion-input maxLength="35" formControlName="codigo" class="marca" placeholder="Ingrese codigo del producto">
            </ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)">
            <div class="mensajeError" *ngIf="!!codigo.errors.required">
              Complete el codigo
            </div>
            <div class="mensajeError" *ngIf="!!codigo.errors.minlength">
              El codigo debe tener al menos 3 caracteres.
            </div>
            <div class="mensajeError" *ngIf="!!codigo.errors.maxlength">
              El codigo debe tener máximo 35 caracteres.
            </div>
          </div>

        </ion-col>
        <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item lines="none">
            <ion-label color="primary" position="floating">Ingrese la codigo de barras</ion-label>
            <ion-input maxLength="60" formControlName="codigoBarra" placeholder="Ingrese codigo de barras"></ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="codigoBarra.invalid && (codigoBarra.dirty || codigoBarra.touched)">
            <div class="mensajeError" *ngIf="!!codigoBarra.errors.required">
              Complete el codigo de barras
            </div>
            <div class="mensajeError" *ngIf="!!codigoBarra.errors.minlength">
              El codigo de barras debe tener al menos 3 caracteres.
            </div>
            <div class="mensajeError" *ngIf="!!codigoBarra.errors.maxlength">
              El codigo de barras debe tener máximo 35 caracteres.
            </div>
          </div>

        </ion-col>
        <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item lines="none">
            <ion-label color="primary" position="stacked">Fecha de vencimiento:</ion-label>
            <ion-input type="date" formControlName="fechaDeVencimiento" class="form-control"></ion-input>
          </ion-item>
          <div class="alertDanger"
            *ngIf="fechaDeVencimiento && fechaDeVencimiento.invalid && (fechaDeVencimiento.dirty || fechaDeVencimiento.touched)">
            <div class="mensajeError" *ngIf="  !!fechaDeVencimiento.errors.required">
              Ingrese fecha de vencimiento
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item lines="none">
            <ion-label color="primary" position="floating">Ingrese la marca</ion-label>
            <ion-input maxLength="35" formControlName="marca" class="marca" placeholder="Ingrese marca del producto">
            </ion-input>
          </ion-item>
          <div class="alertDanger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
            <div class="mensajeError" *ngIf="!!marca.errors.required">
              Complete el marca
            </div>
            <div class="mensajeError" *ngIf="!!marca.errors.minlength">
              El marca debe tener al menos 3 caracteres.
            </div>
            <div class="mensajeError" *ngIf="!!marca.errors.maxlength">
              El marca debe tener máximo 35 caracteres.
            </div>
          </div>
        </ion-col>
        <ion-col size="12 " size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item lines="none">
            <ion-label color="primary" position="stacked">Descripción</ion-label>
            <ion-textarea rows="5" cols="20" formControlName="descripcionProducto"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer class="ion-no-border footer">
  <div class="alertDanger" *ngIf="mensaje">
    <div class="mensajeError">
      {{mensaje}}
    </div>
  </div>
  <ion-button (click)="guardarProducto()" shape="round" expand="block">
    <ion-icon slot="icon-only" color="light" name="add-circle-outline"></ion-icon> &nbsp;
    <ion-label color="light">Agregar Producto</ion-label>
  </ion-button>
</ion-footer>