form {
    ion-grid {
        padding: 0px;
        ion-row {
            padding: 0px;
            ion-col {
                // padding: 0px;

            }
        }
    }
    .imagenes {
        // height: 100%;
        width: 100%;
        .fotoProducto {
            // height: 100%;
            width: 100%;
            img {
                height: 240px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.sedes {
    text-align: center;
}
// form {
//     // height: 100%;
//     margin: 0px;
//     padding: 0px;
//     .datos {
//         // height: 95%;
//         .fotoProducto {
//             height: 100%;
//             img {
//                 height: 100%;
//                 width: 100%;
//                 object-fit: contain;
//                 object-position: center center;
//             }
//         }
//         .badge {
//             text-align: right;
//             margin-left: 5%;
//             margin-right: 5%;
//             margin-bottom: 2%;
//             ion-badge {
//                 // color: black;
//                 // background-color: white;
//                 border-radius: 10px;
//                 letter-spacing: 2px;
//                 margin: 3px;
//             }
//         }
//         .datosProducto {
//             height: 50%;
//             background-color: white;
//             padding: 5%;
//             box-shadow: 2px -2px 2px 2px var(--ion-color-light);
//             // border-top: solid 2px var(--ion-color-light);
//             ion-item {
//                 ion-label {
//                     font-family: Nunito;
//                 }
//             }
//             .cantidad {
//                 color: gray;
//                 margin-left: 5%;
//                 margin-right: 5%;
//             }
//             .nombre {
//                 font-size: 2vw;
//                 font-weight: bold;
//             }
//             .marca {
//                 //font-size: 1vw;
//                 font-weight: bold;
//             }
//             .precio {
//                 color: var(--ion-color-primary);
//                 font-weight: bold;
//                 span {
//                     font-size: 18px;
//                 }
//             }
//             .tienda {
//                 border-radius: 10px;
//             }
//         }
//     }
// }

// .imagenes {
//     width: 100%;
//     height: 220px;
// }

.alertDanger {
    color: var(--ion-color-light);
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 999;
    margin: 0 auto;
}

.mensajeError {
    background-color: rgba(248, 50, 50, 0.616);
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    // padding: 5px;
    text-align: center;
}

* {
    ion-label {
        font-family: Nunito;
    }
    ion-input {
        font-family: Nunito;
        border: solid 1px var(--ion-color-primary);
        border-radius: 5px;
        margin-top: 5px;
        --padding-start: 12px;
    }
    ion-textarea {
        font-family: Nunito;
        border: solid 1px var(--ion-color-primary);
        border-radius: 5px;
        margin-top: 5px;
        --padding-start: 12px;
    }
}

ion-input[type=date] {
    margin-top: 5px;
    border: solid 1px var(--ion-color-primary);
}

.custom-options {
    border: solid 1px var(--ion-color-primary);
    border-radius: 5px;
    margin-top: 5px;
    --padding-start: 12px;
}

.cabecera {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
}
.cuerpo {
    background-color: var(--ion-color-light);
}

.imagen-prueba {
    text-align: center;
    background-color: black;

}