<ion-row *ngIf="listaProductos && listaProductos.length>0">
  <ion-col style=" width: 100%; height: 50px; background: linear-gradient(to bottom right, #00AFEF,#00E2EE);">
    <ion-item class="categoria" color="translucent" lines="none">
      <ion-label>{{categoria | titlecase}}</ion-label>
      <ion-buttons slot="end" *ngIf="listaProductos.length===6">
        <ion-button (click)="irLIstaProductos()">
          <ion-icon slot="icon-only" color="light" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-segment>
    <ion-col size-lg="2" size-md="3" size-xs="5" size-sm="5" *ngFor="let producto of listaProductos">
      <ion-card (click)="verDetallesProducto(producto.id)">
        <ion-img *ngIf="producto.img" [src]="producto.img"></ion-img>
        <ion-img *ngIf="!producto.img" src="../../../assets/img/producto_default.png" alt=""></ion-img>
        <div class="datosProducto">
          <ion-card-title>{{producto.nombre | titlecase}}</ion-card-title>
          <ion-card-subtitle>{{producto.cantidad}} {{producto.medida}}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="producto.precio" class="precio">S/. {{producto.precio  | number: '1.2'}}</ion-card-subtitle>
        </div>
      </ion-card>
    </ion-col>
    <!-- <ion-col size-lg="2" size-md="3" size-xs="5" size-sm="5" *ngIf="listaProductos.length===6">
      <ion-card class="cardVerMas" (click)="irLIstaProductos()">
        <ion-card-header>
          <ion-icon name="chevron-forward-circle" color="primary"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title color="light">Ver todos</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col> -->
  </ion-segment>
</ion-row>
