.alertDanger {
    color: red;
   //  background-color: rgb(248, 172, 172);
   font-weight: bold;
    border-radius: 3px;
    width: 100%;
}

.divtest{
    background-color: aqua;
}

.testRows{
    background-color: coral;
    border: 1px black solid;
}