.gridPrincipal {
    height: 100%;
    ion-row {
        height: 100%; //se cambio a 100
        ion-col {
            height: 100%;
        }
    }
}

ion-card:hover {
  cursor: pointer;
}

// .categoriasContent {   //se comento
//     height: 100%;
//     .categorias {
//         height: 100%;
//     }
// }

.categorias {
  ion-card {
    height: 100px;
    text-align: center;
    img {
      height: 70%;
      width: 100%;
      object-fit: cover;
    }
    ion-label {
      height: 30%;
      font-size: 2vh;
    }
  }
}

.productos {
    padding: 2px;
    margin: 0px;
    ion-row {
      padding: 0px;
      // margin-left: 5%;
      // margin-right: 5%;
      // margin-bottom: 5%;
      ion-col{
      padding: 0px;
      // margin-bottom: 5%;
        ion-card {
          height: 100%;
          // margin: 5%;
          text-align: center;
          img{
            height: 70px;
            width: 100%;
            object-fit: contain;
            object-position: center center;
          }
          ion-card-title{
            font-weight: bold;
            font-size: 1.8vh;
          }
          .precio {
            background-color: #00AFEF;
            margin-bottom: 0px;
            padding: 3px;
            color: white;
            margin: 2px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .touchpad {
      height: 100%;
      ion-row {
          height: 25%;
          ion-col {
              ion-button {
                  height: 100%;
                  width: 100%;
              }
          }
      }
  }

  app-producto-venta{
    width: 100%;
    border-color: aqua solid 1px;
  }

  .cargando {
    text-align: center;
    margin: 5%;
    ion-spinner {
      zoom: 1.5;
    }
}

.sinDatos {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .textoSindatos {
      text-align: center;
      // border: solid 2px var(--ion-color-danger);
      padding: 10%;
      margin: 10%;
      border-radius: 10px;
      font-weight: bold;
      .icono {
          zoom: 4;
      }
  }
}

.cardBuscador{
  padding: 5px;
  border-radius: 10px;
  // height: 100px;
  ion-row {
      .colImg{
          text-align: center;
          img {
            max-height: 80px;
          }
      }
      .colDatos{
          display: table-cell;
          vertical-align: middle;
      }
  }
}

.cardBuscador:hover {
  cursor: pointer;
}
