<ion-header>
    <ion-toolbar>
        <ion-title>buscar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="buscarForm">
        <ion-grid>
            <ion-row>
                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="3">

                </ion-col>
                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="6">
                    <ion-card>
                        <ion-toolbar color="primary">
                            <ion-title>Buscar comprobante electrónico</ion-title>
                        </ion-toolbar>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="8">
                                    <ion-item lines="none">
                                        <ion-label color="primary" position="stacked">tipo de Comprobante</ion-label>
                                        <ion-select class="custom-options" interface="popover" formControlName="tipoComprobante" placeholder="Comprobates" cancelText="Cancelar" okText="Aceptar" mode="ios">
                                            <ion-select-option value="factura">FACTURA</ion-select-option>
                                            <ion-select-option value="boleta">BOLETA </ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <div class="alertDanger" *ngIf="tipoComprobante.invalid && (tipoComprobante.dirty || tipoComprobante.touched)">
                                        <div class="mensajeError" *ngIf="!!tipoComprobante.errors.required">
                                            Complete el tipo de Comprobante
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="4">
                                    <ion-item lines="none">
                                        <ion-label color="primary" position="stacked">Fecha de emisión:</ion-label>
                                        <ion-input type="date" formControlName="fechaEmision" class="form-control"></ion-input>
                                    </ion-item>
                                    <div class="alertDanger" *ngIf="fechaEmision && fechaEmision.invalid && (fechaEmision.dirty || fechaEmision.touched)">
                                        <div class="mensajeError" *ngIf="  !!fechaEmision.errors.required">
                                            Ingrese fecha de fecha de emision
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="6">
                                    <ion-item lines="none">
                                        <ion-label color="primary" position="floating">Serie</ion-label>
                                        <ion-input maxLength="35" formControlName="serieComprobante" class="serieComprobante" placeholder="Ingrese serie"></ion-input>
                                    </ion-item>
                                    <div class="alertDanger" *ngIf="serieComprobante.invalid && (serieComprobante.dirty || serieComprobante.touched)">
                                        <div class="mensajeError" *ngIf="!!serieComprobante.errors.required">
                                            Complete el serie
                                        </div>
                                        <div class="mensajeError" *ngIf="!!serieComprobante.errors.minlength">
                                            La serie debe tener al menos 3 caracteres.
                                        </div>
                                        <div class="mensajeError" *ngIf="!!serieComprobante.errors.maxlength">
                                            La serie debe tener máximo 35 caracteres.
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="6">
                                    <ion-item lines="none">
                                        <ion-label color="primary" position="floating">Numero</ion-label>
                                        <ion-input maxLength="35" formControlName="numeroComprobante" class="numero" placeholder="Ingrese numero"></ion-input>
                                    </ion-item>
                                    <div class="alertDanger" *ngIf="numeroComprobante.invalid && (numeroComprobante.dirty || numeroComprobante.touched)">
                                        <div class="mensajeError" *ngIf="!!numeroComprobante.errors.required">
                                            Complete el numero
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="6">
                                    <ion-item lines="none">
                                        <ion-label color="primary" position="floating">Documento</ion-label>
                                        <ion-input maxLength="35" formControlName="numDoc" class="numDoc" placeholder="Ingrese documento"></ion-input>
                                    </ion-item>
                                    <div class="alertDanger" *ngIf="numDoc.invalid && (numDoc.dirty || numDoc.touched)">
                                        <div class="mensajeError" *ngIf="!!numDoc.errors.required">
                                            Complete el documento
                                        </div>
                                        <div class="mensajeError" *ngIf="!!numDoc.errors.minlength">
                                            El documento debe tener al menos 3 caracteres.
                                        </div>
                                        <div class="mensajeError" *ngIf="!!numDoc.errors.maxlength">
                                            El documento debe tener máximo 35 caracteres.
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="6">
                                    <ion-item lines="none">
                                        <ion-label color="primary" position="floating">Monto total</ion-label>
                                        <ion-input maxLength="35" formControlName="totalPagarVenta" class="totalPagarVenta" placeholder="Ingrese monto"></ion-input>
                                    </ion-item>
                                    <div class="alertDanger" *ngIf="totalPagarVenta.invalid && (totalPagarVenta.dirty || totalPagarVenta.touched)">
                                        <div class="mensajeError" *ngIf="!!totalPagarVenta.errors.required">
                                            Complete el monto total
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </ion-col>
                <ion-col size="12 " size-xs="12 " size-sm="12" size-md="12" size-lg="3">

                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<div class="alertDanger" *ngIf="mensaje">
    <div class="mensajeError">
        {{mensaje}}
    </div>
</div>
<ion-footer class="ion-no-border footer">
    <ion-button (click)="guardarProducto()" shape="round" expand="block">
        <ion-icon slot="icon-only" color="light" name="add-circle-outline"></ion-icon> &nbsp;
        <ion-label color="light">Agregar Producto</ion-label>
    </ion-button>
</ion-footer>