<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Lista de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-button slot="end" size="small" fill="outline" (click)="AgregarNuevoCliente()">
                <ion-icon name="add-circle-outline" color="primary"></ion-icon> &nbsp;
                <ion-label color="primary">Agregar Cliente</ion-label>
              </ion-button>
              <ion-label color="primary">Buscar Cliente</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-searchbar #search (ionChange)="buscarCliente($event)" placeholder="Ingrese nombre o DNI" inputmode="text" debounce="1000" mode="ios"></ion-searchbar>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="sinDatos" *ngIf="sinDatos===true">
      <div class="textoSindatos">
        <ion-icon class="icono" name="people-outline" color="medium"></ion-icon> <br><br>
        <ion-label color="medium">No existen clientes registrados</ion-label> <br> <br>
      </div>
    </div>
    <div class="cargando" *ngIf="(sinDatos===null || sinDatos===undefined)">
      <div class="textoCargando">
        <ion-spinner name="bubbles" color="primary"></ion-spinner>
      </div>
    </div>
    <ion-row>
      <ion-col size-lg="2.4" size-md="3" size-sm="4" size-xs="6" *ngFor="let cliente of listaDeclientes| buscarCliente:textoBuscar">
        <ion-card class="cliente">
          <div class="img">
            <img src="https://articles.business/uploads/images/demo/user-avatar.jpg" alt="">
          </div>
          <ion-card-content>
            <ion-card-title>{{((cliente.nombre.length > 25) ? (cliente.nombre.slice(0, 25) + '...') : cliente.nombre) | titlecase}}</ion-card-title>
            <ion-card-subtitle>{{cliente.numDoc}}</ion-card-subtitle>
          </ion-card-content>
          <ion-button size="small" color="success" (click)="ActualizarDataCliente(cliente)">
            <ion-icon name="create-outline" color="light"></ion-icon> &nbsp;
            <ion-label color="light">Editar</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
