<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Lista de Clientes</ion-title>
    <ion-item slot="end" lines="none">
      <ion-button size="small" fill="outline" (click)="AgregarNuevoCliente()">
        <ion-icon name="add-circle-outline" color="primary"></ion-icon> &nbsp;
        <ion-label color="primary">Agregar Cliente</ion-label>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="headClientes">
      <ion-col>
        <ion-label color="light">Nombres</ion-label>
      </ion-col>
      <!-- <ion-col>
        <ion-label color="light">Apellidos</ion-label>
      </ion-col> -->
      <ion-col>
        <ion-label color="light">DNI</ion-label>
      </ion-col>
      <ion-col>
        <ion-label color="light">Celular</ion-label>
      </ion-col>
      <ion-col>
        <ion-label color="light">Direccion</ion-label>
      </ion-col>
      <ion-col>
        <ion-label color="light">Email</ion-label>
      </ion-col>
      <ion-col>
        <ion-label color="light">Acciones</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center contentClientes" *ngFor="let cliente of listaDeclientes">
      <ion-col>{{cliente.nombre | titlecase}}</ion-col>
      <!-- <ion-col>{{cliente.apellidos | titlecase}}</ion-col> -->
      <ion-col>{{cliente.documento}}</ion-col>
      <ion-col>{{cliente.celular}}</ion-col>
      <ion-col>{{cliente.direccion | titlecase}}</ion-col>
      <ion-col>{{cliente.email}}</ion-col>
      <ion-col>
        <ion-button size="small" color="success" (click)="ActualizarDataCliente(cliente)">
          <ion-icon name="create-outline" color="light"></ion-icon> &nbsp;
          <ion-label color="light">Editar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
