<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="sinDatos===undefined || sinDatos === null">
    <ion-card *ngFor="let number of [0,1,2,3,4,5]">
      <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
      <ion-card-content>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="sinDatos" *ngIf="sinDatos===true">
    <div class="textoSindatos">
      <ion-icon class="icono" name="megaphone-outline" color="medium"></ion-icon> <br><br>
      <ion-label color="medium">No tienes ofertas agregadas</ion-label>
    </div>
  </div>

  <ion-card *ngFor="let slide of slides">
    <img [src]="slide.img" alt="">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <ion-card-title>{{slide.sede}}</ion-card-title>
          <ion-card-subtitle>{{slide.fechaFinal}}<span> | {{slide.estado}}</span></ion-card-subtitle>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="presentPopover($event, slide)">
            <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="presentModalOferta(null)">
      <ion-icon color="light" name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
