<ion-list>
  <ion-list-header class="ion-text-center">
    <ion-label><b>{{producto.nombre | titlecase}}</b></ion-label>
  </ion-list-header>
  <ion-item color="primary">
    <ion-icon slot="start" name="grid-outline" color="light"></ion-icon>
    <ion-label color="light">Medida</ion-label>
    <ion-label color="light">Factor</ion-label>
    <ion-label color="light">Precio</ion-label>
  </ion-item>

  <ion-item (click)="seleccionVariante({medida: producto.medida, factor: 1, precio: producto.precio})">
    <ion-icon slot="start" name="grid-outline" color="primary"></ion-icon>
    <ion-label>{{producto.medida | titlecase}}</ion-label>
    <ion-label>{{1 | number:'.2'}}</ion-label>
    <ion-label>S/.{{producto.precio | number:'.2'}}</ion-label>
  </ion-item>
  <ion-item *ngFor="let variante of producto.variantes" (click)="seleccionVariante(variante)">
    <ion-icon slot="start" name="grid-outline" color="primary"></ion-icon>
    <ion-label>{{variante.medida | titlecase}}</ion-label>
    <ion-label>{{variante.factor | number:'.2'}}</ion-label>
    <ion-label>S/.{{variante.precio | number:'.2'}}</ion-label>
  </ion-item>
</ion-list>