* {
    ion-label {
        font-family: Nunito;
    }
    ion-input {
        font-family: Nunito;
        margin-top: 5px;
        border: solid 1px var(--ion-color-primary);
        border-radius: 5px;
        --padding-start: 12px;
    }
}