<ion-header>
  <ion-toolbar>
    <ion-title>{{modo | titlecase}} Caja Chica POS</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="modo === 'abrir'" class="ion-padding">
  <ion-card>
    <ion-card-header color="primary" class="ion-text-center">
      <ion-label style="font-size: 16px; font-weight: bold;" color="light">Apertura de caja chica</ion-label>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="abrirCajaChicaForm" autocomplete="off">
        <ion-item *ngIf="listaUsuarios">
          <ion-label color="primary">Vendedor</ion-label>
          <ion-select okText="Aceptar" cancelText="Cancelar"
            mode="ios" formControlName="dniUsuario">
            <div *ngFor="let item of listaUsuarios">
              <ion-select-option value="{{item.dni}}">{{item.nombre | titlecase}} </ion-select-option>
            </div>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating" color="primary">Saldo Inicial</ion-label>
          <ion-input placeholder="Ingrese saldo inicial" type="number" formControlName="montoInicial"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="modo === 'cerrar'">
  <ion-card>
    <ion-card-header color="primary" class="ion-text-center">
      <ion-label style="font-size: 16px; font-weight: bold;" color="light">Cierre de caja chica</ion-label>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="CerrarCajaChicaForm" autocomplete="off">

        <ion-item lines="none">
          <ion-label color="primary" position="floating">Saldo Final</ion-label>
          <ion-input readonly placeholder="Ingrese monto final" type="number" formControlName="montoFinal"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="this.modo === 'editar'">
  <ion-card>
    <ion-card-header color="primary" class="ion-text-center">
      <ion-label style="font-size: 16px; font-weight: bold;" color="light">Apertura de caja chica</ion-label>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="cajaChicaEditForm" autocomplete="off">
        <ion-item *ngIf="listaUsuarios && listaUsuarios.length>0">
          <ion-label color="primary">Vendedor</ion-label>
          <ion-select okText="Aceptar" cancelText="Cancelar" [value]="datosCaja ? datosCaja.nombreVendedor : ''"
            mode="ios" formControlName="dniUsuarioEdit">
            <div *ngFor="let item of listaUsuarios">
              <ion-select-option value="{{item.dni}}">{{item.nombre | titlecase}} </ion-select-option>
            </div>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating" color="primary">Saldo Inicial</ion-label>
          <ion-input placeholder="Ingrese monto" type="number" formControlName="montoInicialEdit"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar lines="none">
    <ion-item slot="end" lines="none">
      <ion-button fill="outline" color="medium" (click)="cerrarModal()">
        <ion-label color="medium">Cancelar</ion-label>
      </ion-button>
      <ion-button *ngIf="modo === 'abrir'" color="primary" (click)="abrirCajachica()" expand="block"
        [disabled]="abrirCajaChicaForm.invalid">
        <ion-label color="light">Guardar</ion-label>
      </ion-button>
      <ion-button *ngIf="modo === 'editar'" color="primary" (click)="EditarCajaChica()" expand="block"
        [disabled]="cajaChicaEditForm.invalid">
        <ion-label color="light">Guardar Cambios</ion-label>
      </ion-button>
      <ion-button *ngIf="modo === 'cerrar'" color="primary" (click)="CerrarCaja()" expand="block"
        [disabled]="CerrarCajaChicaForm.invalid">
        <ion-label color="light">Cerrar caja</ion-label>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>