<ion-header>
  <ion-toolbar>
    <ion-title>registrarProveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index" class="testRows">
        {{i+1}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">
        <div class="divtest">texto</div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>

      <ion-col size="12" size-lg="8" size-md="10" size-sm="10" size-xs="12">
        <ion-list>
          <ion-item *ngFor="let provedor of listaDeProveedores">
            <ion-label>{{provedor.nombre}}</ion-label>
            <ion-label>{{provedor.ruc}}</ion-label>
            <ion-label>{{provedor.telefono}}</ion-label>
            <ion-label>{{provedor.direccion}}</ion-label>
            <ion-label>{{provedor.email}}</ion-label>
            <ion-label>
              <ion-button (click)="ActualizarDataProveedor(provedor)">
                Actualizar
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="AgregarNuevoProveedor()">
      Agregar Usuario
    </ion-button>
  </ion-fab>





</ion-content>
