<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!data" color="primary">Agregar Tip</ion-title>
    <ion-title *ngIf="data" color="primary">Tip</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" color="primary" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!data">
  <ion-card>
    <!-- <img *ngIf="!image"(click)="SubirFoto()" style="width: 60%;" src="../../../assets/fondoImg.jpg" />
    <img *ngIf="image"(click)="SubirFoto()" style="width: 60%;" [src]="image" /> -->
</ion-card>
<form [formGroup]="tipForm">
  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input formControlName="titulo" type="text"></ion-input>
  </ion-item>
  <div class="alertDanger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
    <div class="mensajeError" *ngIf="!!titulo.errors.required">
      Complete el titulo
    </div>
    <div class="mensajeError" *ngIf="!!titulo.errors.minlength">
      El titulo debe tener al menos 3 caracteres.
    </div>
    <div class="mensajeError" *ngIf="!!titulo.errors.maxlength">
      El titulo debe tener máximo 45 caracteres.
    </div>
  </div>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea formControlName="descripcion" autoGrow></ion-textarea>
  </ion-item>
  <div class="alertDanger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
    <div class="mensajeError" *ngIf="!!descripcion.errors.required">
      Complete la descripcion
    </div>
    <div class="mensajeError" *ngIf="!!descripcion.errors.minlength">
      La descripcion debe tener al menos 10 caracteres.
    </div>
  </div>
  <ion-item>
    <ion-label position="floating">Link</ion-label>
    <ion-input formControlName="link" type="text"></ion-input>
  </ion-item>
  <div class="alertDanger" *ngIf="link.invalid && (link.dirty || link.touched)">
    <div class="mensajeError" *ngIf="!!link.errors.required">
      Complete el link
    </div>
  </div>
</form>
</ion-content>

<ion-content *ngIf="data">
  <ion-card>
    <div>
        <img *ngIf="data.foto" src="{{ data.foto }}">
        <img *ngIf="!data.foto" src="../../../assets/img/tips.png ">
    </div>
    <ion-card-header>
        <ion-card-title>{{ data.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">{{ data.descripcion}} </ion-card-content>
    <div class="boton" style="text-align: right;">
      <ion-button fill="outline" color="danger" size="small" (click)="presentAlertEliminarTip(data.id)">Eliminar Tip</ion-button>
    </div>
  </ion-card>
  <div style="text-align: center;">
    <a target="_blank" href="{{data.link}}">
      <ion-button fill="outline" color="primary" shape="round">Más información</ion-button>
    </a>
  </div>
</ion-content>

<ion-footer *ngIf="!data">
  <ion-button color="primary" shape="round" expand="block" (click)="GuardarTip()">Guardar</ion-button>
</ion-footer>
