ion-card {
    border: solid 1px var(--ion-color-primary);
    ion-card-header {
        padding: 0px;
        ion-item{
            --border-color: var(--ion-color-primary);
        }
    }
    ion-card-content {
        ion-row{
            text-align: center;
            ion-col{
                img {
                    height: 60px;
                    object-fit: contain;
                    object-position: center center;
                    border-radius: 50%;
                }
            }
        }
    }
}

ion-slide {
    min-height: 86.4vh;
    height: 100%;
    width: 100%;
    .infinityScroll { 
        width: 100%;
    }
}
.sinDatos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .textoSindatos {
        text-align: center;
        // border: solid 2px var(--ion-color-danger);
        padding: 10%;
        margin: 10%;
        border-radius: 10px;
        font-weight: bold;
        .icono {
            zoom: 4;
        }
    }
}

.cargando {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}