<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-searchbar (ionClear)="limpiar()" (ionChange)="Search($event)" #search placeholder="Buscar producto" inputmode="text" debounce="1000" animated="true" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="ion-padding custom-skeleton productos" *ngIf="buscando">
    <ion-card *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">
      <ion-row>
        <ion-col size-xs="4">
          <ion-skeleton-text animated style="height: 100%"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-col>
      </ion-row><br>
    </ion-card>
  </div>
  <div class="productos" *ngIf="productos">
    <ion-card *ngFor="let prod of productos"   (click)="Detalles(prod.categoria,prod.id)" >
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-xs="3" class="colImg">
          <img *ngIf="prod.img" [src]='prod.img' alt="">
          <img *ngIf="!prod.img" src='../../../../../assets/img/pet chop.png' alt="">
        </ion-col>
        <ion-col size-xs="5" class="colDatos">
          <ion-label style="font-size: 17px; font-weight: bold;">{{prod.nombre | titlecase}}</ion-label><br>
          <ion-label >{{prod.cantidad}} {{prod.medida}}</ion-label><br>
          <ion-badge>{{prod.subCategoria}}</ion-badge>
        </ion-col>
        <ion-col size-xs="4" class="ion-text-center" style="border-left: solid 1px grey;" *ngIf="prod.categoria !== 'farmacia'">
          <ion-label style="font-size: 4.7vw;"><span style="font-size: 15px;">S/.</span>{{prod.precio | number: '1.2'}}</ion-label><br>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div class="sinResultado" *ngIf="sinResultados">
    <ion-icon color="danger" name="sad-outline"></ion-icon><br>
    <ion-label>{{sinResultados}}</ion-label>
  </div>
  <div class="sinBuscar" *ngIf="buscando===null || buscando===undefined">
    <form>
      <ion-icon color="primary" name="search"></ion-icon><br>
      <ion-label>Realiza la busqueda de cualquier producto</ion-label>
    </form>
  </div>
  <!-- <img src="https://images.vexels.com/media/users/3/153874/isolated/preview/5147b9d69f00249a07732a905bcb251e-buscar-configuraci--n-icono-de-trazo-de-color-by-vexels.png" alt=""> -->
</ion-content>
