<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Agregar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" color="primary" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label color="primary" position="floating">Nombre de producto</ion-label>
          <ion-input class="nombre" (click)="presentModalBuscador()" value="{{productSelect?(productSelect.nombre | titlecase):''}}" placeholder="Producto"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked" color="primary">Cantidad</ion-label>
          <ion-input class="cantidad" type="number" value="{{productSelect?(productSelect.cantidad | number:'1.2'):0}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="floating" color="primary">Precio Unitario</ion-label>
          <ion-input class="precio" type="number" value="{{productSelect?(productSelect.precio | number:'1.2'):0}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-button (click)="cerrarModal()" color="medium" fill="outline" slot="end">
      <ion-label color="medium">Cerrar</ion-label>
    </ion-button>
    <ion-button (click)="agregarProducto()" slot="end">
      <ion-label color="light">Agregar</ion-label>
    </ion-button>
  </ion-item>
</ion-footer>
